<div class="page">
  <div class="header">
    <h1 class="header__title">Атрибуты</h1>

    <div class="header__toolbar">
      <app-button (click)="add()" btnStyle="primary" btnSize="big">Добавить атрибут</app-button>
    </div>
  </div>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="attributes"
        [itemsFiltered]="itemsFiltered"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        [linkFieldName]="gridLinkFieldName"
        (gridChange)="fetchAttributes($event)"
        trackByFieldName="id"
        linkUrlSuffix="edit"
        gridName="attribute-list"
  >
    <span grid-total-items>Всего атрибутов: {{ itemsTotal }}</span>
    <span grid-no-items>Атрибуты не найдены</span>

    <ng-template #cellContent let-attribute="item">{{ attribute.id }}</ng-template>
    <ng-template #cellContent let-attribute="item">{{ attribute.label }}</ng-template>
  </grid>
</div>
