@import "../abstracts/variables";
@import "../abstracts/mixins";

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: $dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  transition: all 0.2s ease;

  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1;
}

quill-editor {
  display: block;
  background: #fff;
}

.draggable-item {
  &--is-dragging {
    background-color: rgba($red, 0.2) !important;
  }

  &--body-hovered {
    background-color: rgba($dark, 0.2) !important;
  }

  &--start-hovered,
  &--end-hovered {
    position: relative;
    &::before {
      content: '';
      position: absolute;
    }
  }
  &--vertical#{&}--start-hovered {
    &::before {
      left: 0;
      right: 0;
      top: -1px;
      border-top: 2px dashed rgba($red, 0.7);
    }
  }
  &--vertical#{&}--end-hovered {
    &::before {
      left: 0;
      right: 0;
      bottom: -1px;
      border-bottom: 2px dashed rgba($red, 0.7);
    }
  }
  &--horizontal#{&}--start-hovered {
    &::before {
      top: 0;
      bottom: 0;
      left: -1px;
      border-left: 2px dashed rgba($red, 0.7);
    }
  }
  &--horizontal#{&}--end-hovered {
    &::before {
      top: 0;
      bottom: 0;
      right: -1px;
      border-right: 2px dashed rgba($red, 0.7);
    }
  }
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    margin-left: 0;
  }
}

.ql-editor {
  height: 150px;
  resize: vertical;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
