@import "../abstracts/variables";
@import "../abstracts/mixins";

html {
  height: 100%;
}

body {
  min-height: 100%;
  font: 400 14px/1 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  transition: all 0.2s ease;

  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1;
}

quill-editor {
  display: block;
}
