@import "variables";

.toolbar-main-btn,
.toolbar-btn {
  padding: 12px 15px 13px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.15s ease;
}

.toolbar-main-btn {
  background: $primary;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background: darken($primary, 5%);
  }
}

.toolbar-btn {
  color: $dark;
  transition: all 0.15s ease;

  &:hover {
    color: darken($dark, 30%);
  }
}
