@import "variables";

$fieldBorderColorHover: #878787;
$fieldBorderColorFocus: #007bdb;

.field {
  $field: &;

  display: flex;

  &__label {
    margin: 0 40px 0 0;
    padding: 6px 0 0;
    width: 25%;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
  }

  &--required &__label {
    position: relative;

    &::after {
      content: '*';
      color: $red;
      position: absolute;
      top: 6px;
      right: -15px;
      font-size: 16px;
    }
  }

  &__control {
    width: 45%;
  }

  &__input,
  &__textarea,
  &__select {
    width: 100%;
    padding: 6px 10px 8px;
    min-height: 34px;
    border: 1px solid $borderColor;
    font-size: 16px;
    color: $dark;

    &:not([disabled]) {
      &:hover {
        border-color: $fieldBorderColorHover;
      }

      &:focus {
        border-color: $fieldBorderColorFocus;
      }

      #{$field}--invalid & {
        border-color: $red;
      }
    }

    &[disabled] {
      background: #e9e9e9;
      cursor: not-allowed;
    }
  }

  &__textarea {
    resize: vertical;
    height: 5em;
  }

  &__select {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 33px;
      background: #e3e3e3;
      border-top: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
    }

    &:hover::before {
      border-color: $fieldBorderColorHover;
    }
    &:focus::before {
      border-color: $fieldBorderColorFocus;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 14px;
      right: 12px;
      border-color: #000 transparent transparent transparent;
      border-width: 5px 4px 0 4px;
      border-style: solid;
      transition: all 0.2s ease;
    }
    &:focus::after {
      transform: rotate(180deg);
    }
  }
}
