@import "variables";

.grid {
  overflow-x: auto;

  &__container {
    min-width: max-content;
  }

  &__head,
  &__row {
    display: flex;
  }

  &__head {
    background: #514943;
    color: #fff;
  }

  &__row {
    background: #fff;
    transition: background-color 0.1s ease;
    cursor: pointer;

    &:nth-child(3n-1) {
      background: #f9f9f9;
    }

    &:hover {
      background: #e9e9e9;
      color: inherit;
    }
  }

  &__block {
    padding: 17px 10px;
    flex-shrink: 0;
    box-sizing: content-box;
    display: flex;
    align-items: center;
  }

  &__head &__block {
    border: 1px solid #8a837f;
    border-left: none;
  }

  &__body &__block {
    border-right: 1px dashed $borderColor;
  }
}
