.header {
  display: flex;
  align-items: center;

  &__toolbar {
    margin: 0 0 0 auto;
    flex-shrink: 0;
  }

  &__btn {
    margin: 0 0 0 15px;

    &:first-child {
      margin-left: 0;
    }
  }
}
