<div class="modal-overlay" *ngIf="isModalVisible" (click)="closeModal()"></div>

<div class="modal" *ngIf="isModalVisible">
  <header class="modal__header">
    <div class="modal__title">Отсортировать товары</div>

    <button class="modal__close" (click)="closeModal()" type="button">
      <i class="ai ai-multiply modal__close-icon"></i>
    </button>
  </header>

  <div class="modal__content products">

    <preloader *ngIf="isLoading" [hasOverlay]="true" [hasMargins]="true"></preloader>

    <div class="product"
         *ngFor="let product of products"
         [draggable-item]="product"
         draggable-item-type="product"
         draggable-item-direction="horizontal"
         (dragged)="onReorder($event)"
    >
      <img class="product__img" [src]="uploadedHost + product.mediaUrl" draggable="false">

      <a class="product__name"
         [routerLink]="['/', 'admin', 'product', 'edit', product.id]"
         target="_blank"
         draggable="false"
      >
        {{ product.name }}
      </a>
    </div>
  </div>
</div>
