<div class="page">
  <header class="header">
    <h1 class="header__title">
      Товары
    </h1>

    <div class="header__toolbar">
      <button class="header__btn main-btn" (click)="add()">Добавить товар</button>
    </div>
  </header>

  <div class="grid">
    <div class="grid__container">

      <div class="grid__head grid__row">
        <div class="grid__block grid__id">ID</div>
        <div class="grid__block grid__thumbnail">Картинка</div>
        <div class="grid__block grid__name">Название товара</div>
        <div class="grid__block grid__sku">Артикул</div>
        <div class="grid__block grid__price">Цена</div>
        <div class="grid__block grid__qty">Кол-во</div>
        <div class="grid__block grid__status">Статус</div>
      </div>

      <div class="grid__body">
        <a class="grid__row grid__product"
           *ngFor="let product of products, even as even"
           [routerLink]="['edit', product.id]"
           [class.grid__product--even]="even"
        >
          <div class="grid__block grid__id">
            {{ product.id }}
          </div>
          <div class="grid__block grid__thumbnail">
            <img class="grid__thumbnail-img" [src]="product.mediaUrls && product.mediaUrls[0]" alt="">
          </div>
          <div class="grid__block grid__name">
            {{ product.name }}
          </div>
          <div class="grid__block grid__sku">
            {{ product.sku }}
          </div>
          <div class="grid__block grid__price">
            {{ product.price }} грн
          </div>
          <div class="grid__block grid__qty">
            {{ product.qty }}
          </div>
          <div class="grid__block grid__status" [ngSwitch]="product.isEnabled">
            <ng-container *ngSwitchCase="true">Включен</ng-container>
            <ng-container *ngSwitchCase="false">Выключен</ng-container>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
