@import "variables";

:host {
  position: relative;
  display: inline-block;
}

.btn {
  display: block;
  width: 100%;
  border: 1px solid #adadad;
  transition: all 0.2s ease;
  font-size: 14px;
  box-sizing: border-box;

  &[disabled] {
    opacity: 0.5;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &--size-default {
    padding: 9px 14px;
  }

  &--size-small {
    padding: 6px 11px;
    font-size: 13px;
  }

  &--size-big {
    padding: 11px 18px 12px;
    font-size: 16px;
  }

  &--color-default {
    background: $controlBg;

    &:not([disabled]):hover {
      background: darken($controlBg, 5%);
      color: $dark;
    }

    &:not([disabled]):active {
      background: darken($controlBg, 10%);
      color: $dark;
    }
  }

  &--color-primary {
    border-color: $primary;
    background: $primary;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);

    &:not([disabled]):hover {
      border-color: darken($primary, 10%);
      background: darken($primary, 10%);
    }
  }

  &--color-danger {
    border-color: darken($red, 18%);
    background: darken($red, 18%);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);

    &:not([disabled]):hover {
      border-color: darken($red, 24%);
      background: darken($red, 24%);
    }

    &:not([disabled]):active {
      border-color: darken($red, 30%);
      background: darken($red, 30%);
    }
  }
}
