<a class="btn"
   *ngIf="type === 'link'"
   [routerLink]="link"
   [ngClass]="ngClass"
>
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
</a>

<a class="btn"
   *ngIf="type === 'external-link'"
   [href]="link"
   [ngClass]="ngClass"
   target="_blank"
>
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
</a>

<button class="btn"
        *ngIf="type === 'button' || type === 'submit'"
        [ngClass]="ngClass"
        [disabled]="disabled"
        [type]="type"
>
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
</button>

<ng-template #contentTmpl>
  <ng-content></ng-content>
</ng-template>
