<a class="btn"
   *ngIf="link; else btnTmpl"
   [routerLink]="link"
   [ngClass]="['btn--color-' + btnStyle, 'btn--size-' + btnSize]"
   target="_blank"
>
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
</a>

<ng-template #btnTmpl>
  <button class="btn"
          [ngClass]="['btn--color-' + btnStyle, 'btn--size-' + btnSize]"
          [disabled]="disabled"
          [type]="type"
  >
    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
  </button>
</ng-template>

<ng-template #contentTmpl>
  <ng-content></ng-content>
</ng-template>
