@import "variables";

.preloader {
  margin: 15vh 0 0;
}

.attribute {
  margin: 40px 0 0;

  &__field {
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__id-note {
    display: block;
    margin: 4px 0 0;
    font-size: 11px;
    color: lighten($grey, 20%);
  }
}

.option {
  display: flex;
  margin: 0 0 20px;

  &--head {
    align-items: flex-start;
  }

  &__radio-container {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
  }

  &__code-container {
    width: 150px;
  }

  &__code-note {
    display: block;
    margin: 3px 0 0;
    font-size: 10px;
    color: lighten($grey, 20%);
  }

  &__label-container {
    width: 300px;
    margin: 0 0 0 20px;
  }

  &__delete-container {
    margin: 0 0 0 20px;
  }
}
