<form class="address-form"
      *ngIf="addressForm"
      [formGroup]="addressForm"
      novalidate
>

  <div class="address-form__field field"
       *ngIf="showIsDefault && addressForm.get('isDefault') as isDefault"
  >
    <label class="field__label">По умолчанию</label>
    <div class="field__control">
      <toggle [formControl]="isDefault"></toggle>
    </div>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('firstName') as firstName"
       [class.field--invalid]="isControlInvalid(firstName)"
  >
    <label for="addr-firstName" class="field__label">Имя</label>
    <span class="field__control">
      <input class="field__input" [formControl]="firstName" type="text" id="addr-firstName">
    </span>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('lastName') as lastName"
       [class.field--invalid]="isControlInvalid(lastName)"
  >
    <label for="addr-lastName" class="field__label">Фамилия</label>
    <span class="field__control">
      <input class="field__input" [formControl]="lastName" type="text" id="addr-lastName">
    </span>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('middleName') as middleName"
       [class.field--invalid]="isControlInvalid(middleName)"
  >
    <label for="addr-middleName" class="field__label">Отчество</label>
    <span class="field__control">
      <input class="field__input" [formControl]="middleName" type="text" id="addr-middleName">
    </span>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('phone') as phone"
       [class.field--invalid]="isControlInvalid(phone)"
  >
    <label for="addr-phone" class="field__label">Телефон</label>
    <span class="field__control">
      <input class="field__input" [formControl]="phone" type="text" id="addr-phone">
    </span>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('addressType') as addressType"
       [class.field--invalid]="isControlInvalid(addressType)"
  >
    <label class="field__label">Тип доставки</label>
    <div class="field__control">
      <div class="tabs">
        <button class="tab"
                *ngFor="let type of addressTypes"
                [class.tab--active]="type.data === addressType.value"
                (click)="setAddressType(type)"
        >
          {{ type.view }}
        </button>
      </div>
    </div>
  </div>

  <div class="address-form__field field" *ngIf="addressForm.get('settlement') as settlementControl">
    <label class="field__label">Город</label>
    <div class="field__control">
      <select-autocomplete type="settlement"
                           [activeOptionLabel]="settlementControl.value"
                           (select)="onSettlementSelect($event)"
      ></select-autocomplete>

      <span class="field__error" *ngIf="isControlInvalid(settlementControl)">
        Это обязательное поле
      </span>
    </div>
  </div>

  <ng-container [ngSwitch]="addressForm.get('addressType').value">

    <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">

      <div class="address-form__field field"
           *ngIf="addressForm.get('address') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="field__label">Отделение</label>
        <span class="field__control">
          <select-autocomplete type="warehouse"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onWarehouseSelect($event)"
          ></select-autocomplete>

          <span class="field__error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </span>
        </span>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="addressTypeEnum.DOORS">

      <div class="address-form__field field"
           *ngIf="addressForm.get('address') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="field__label">Улица</label>
        <span class="field__control">
          <select-autocomplete type="street"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onStreetSelect($event)"
          ></select-autocomplete>

          <span class="field__error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </span>
        </span>
      </div>

      <div class="address-form__field field"
           *ngIf="addressForm.get('buildingNumber') as buildingNumber"
           [class.field--invalid]="isOptionalControlInvalid('buildingNumber')"
      >
        <label for="addr-buildingNumber" class="field__label">Номер дома</label>
        <span class="field__control">
          <input class="field__input" [formControl]="buildingNumber" type="text" id="addr-buildingNumber">
        </span>
      </div>

      <div class="address-form__field field"
           *ngIf="addressForm.get('flat') as flat"
           [class.field--invalid]="isOptionalControlInvalid('flat')"
      >
        <label for="addr-flat" class="field__label">Квартира</label>
        <span class="field__control">
          <input class="field__input" [formControl]="flat" type="text" id="addr-flat">
        </span>
      </div>

    </ng-container>
  </ng-container>


</form>
