<form class="address-form"
      *ngIf="addressForm"
      [formGroup]="addressForm"
      novalidate
>

  <div class="address-form__field field"
       *ngIf="showIsDefault && addressForm.get('isDefault') as isDefault"
  >
    <label class="field__label">По умолчанию</label>
    <div class="field__control">
      <toggle [formControl]="isDefault"></toggle>
    </div>
  </div>

  <div class="address-form__field field field--required"
       *ngIf="addressForm.get('firstName') as firstName"
       [class.field--invalid]="isControlInvalid(firstName)"
  >
    <label for="addr-firstName" class="field__label">Имя</label>
    <span class="field__control">
      <input class="field__input" [formControl]="firstName" type="text" id="addr-firstName">
    </span>
  </div>

  <div class="address-form__field field field--required"
       *ngIf="addressForm.get('lastName') as lastName"
       [class.field--invalid]="isControlInvalid(lastName)"
  >
    <label for="addr-lastName" class="field__label">Фамилия</label>
    <span class="field__control">
      <input class="field__input" [formControl]="lastName" type="text" id="addr-lastName">
    </span>
  </div>

  <div class="address-form__field field field--required"
       *ngIf="addressForm.get('phone') as phone"
       [class.field--invalid]="isControlInvalid(phone)"
  >
    <label for="addr-phone" class="field__label">Телефон</label>
    <span class="field__control">
      <input class="field__input" [formControl]="phone" type="text" id="addr-phone">
    </span>
  </div>

  <div class="address-form__field field field--required"
       *ngIf="addressForm.get('addressType') as addressType"
       [class.field--invalid]="isControlInvalid(addressType)"
  >
    <label for="addr-addressType" class="field__label">Тип доставки</label>
    <span class="field__control">
      <app-select id="addr-addressType"
                  [formControl]="addressType"
                  [options]="[{ data: addressTypes.WAREHOUSE, view: 'В отделение' }, { data: addressTypes.DOORS, view: 'Адресная курьером' }]"
      ></app-select>
    </span>
  </div>
</form>
