@import "variables";
@import "keyframes";

.media {
  $media: &;

  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 1px solid $borderColor;
  cursor: pointer;

  &__img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.2s ease;
  }

  &:hover &__img {
    opacity: 0.6;
  }

  &__remove {
    position: absolute;
    left: 10px;
    bottom: 5px;
    padding: 6px 4px;
    background: rgba(#fff, 0.8);
    cursor: pointer;
  }

  &__remove-icon {
    color: rgba($dark, 0.6);
    font-size: 19px;
    transition: color 0.2s ease;

    #{$media}__remove:hover & {
      color: rgba($dark, 0.8);
    }
  }

  &__info {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    font-size: 12px;
    color: rgba($dark, 0.8);
  }

  &__is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: rgba(#fff, 0.6);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  animation: fadeIn 0.2s ease;
  z-index: 1;
}

.details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  padding: 20px 25px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
  animation: popupSlideIn 0.2s $cubicBezier;
  z-index: 2;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 21px;
  }

  &__close {
    padding: 10px;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__close-icon {
    font-size: 18px;
  }

  &__container {
    margin: 20px 0 0;
    display: flex;
  }

  &__img-container {
    width: 60%;
    text-align: center;
  }

  &__info {
    width: 40%;
    padding: 0 0 0 20px;
  }

  &__row {
    &:not(:first-child) {
      margin: 30px 0 0;
    }
  }

  &__label {
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  &__value {
    display: block;
    margin: 8px 0 0;
  }
}

@keyframes popupSlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
