@import "variables";

.list-info {
  display: flex;
  align-items: center;

  &__pagination {
    margin: 0 0 0 auto;
  }
}

.product-review {
  &__name {
    width: 100px;
  }

  &__text {
    width: 400px;
  }

  &__rating {
    width: 50px;
  }

  &__status {
    width: 80px;
  }
}
