<div class="page">
  <div class="header">
    <h1 class="header__title">
      Тестирование писем
    </h1>
  </div>

  <div class="emails-test">
    <div class="emails-test__field field">
      <label class="field__label" for="email">Email для тестирования</label>
      <div class="field__control">
        <input class="field__input" [(ngModel)]="email" type="text" id="email">
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо "подтвердите почту"</div>
      <div class="field__control">
        <app-button (click)="sendEmailConfirmationEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо об успешной регистрации</div>
      <div class="field__control">
        <app-button (click)="sendSuccessfulRegistrationEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо об успешном заказе</div>
      <div class="field__control">
        <app-button (click)="sendOrderConfirmationEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо "Оставьте отзыв о товаре"</div>
      <div class="field__control">
        <app-button (click)="sendLeaveReviewEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо "Сбросить пароль"</div>
      <div class="field__control">
        <app-button (click)="sendResetPasswordEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо "Новый отзыв о магазине"</div>
      <div class="field__control">
        <app-button (click)="sendNewStoreReviewEmail()">Отправить</app-button>
      </div>
    </div>

    <div class="emails-test__field field">
      <div class="field__label">Письмо "Новый отзыв о товаре"</div>
      <div class="field__control">
        <app-button (click)="sendNewProductReviewEmail()">Отправить</app-button>
      </div>
    </div>
  </div>
</div>
