<div class="list-info">
  <div class="list-info__total-items">
    <ng-content select="[grid-total-items]"></ng-content>
    <span class="list-info__filtered-items" *ngIf="itemsFiltered >= 0">; отфильтровано: {{ itemsFiltered }}.</span>
    <span class="list-info__clear-filters" *ngIf="filtersMap.size > 0" (click)="clearAllFilters()">Сбросить все фильтры </span>
  </div>

  <pagination class="list-info__pagination" [pageCount]="pagesTotal" (change)="emitChange()"></pagination>
</div>

<div class="grid" [class.grid--small]="size === 'small'">
  <div class="grid__head-container">
    <div class="grid__head-overflow-container">
      <div class="grid__head grid__head-scroller" [scrollLeft]="gridScrollLeft">
        <div class="grid__block"
             *ngFor="let cell of cells"
             (click)="onHeadCellClick(cell)"
             [ngClass]="{
               'grid__block--image': cell.isImage,
               'grid__block--date': cell.hasDateFromFilter || cell.hasDateToFilter,
               'grid__block--sortable': cell.isSortable,
               'grid__block--left': cell.align === 'left',
               'grid__block--center': cell.align === 'center',
               'grid__block--right': cell.align === 'right',
               'sorting': activeSorting && cell.fieldName === activeSorting.fieldName,
               'sorting--desc': activeSorting && cell.fieldName === activeSorting.fieldName && activeSorting.isDescOrder
             }"
             [style.width.px]="cell.initialWidth"
        >
          {{ cell.label }}
        </div>
      </div>

      <div class="grid__search grid__head-scroller" [scrollLeft]="gridScrollLeft">
        <div class="grid__block grid__block--search"
             *ngFor="let cell of cells"
             [class.grid__block--image]="cell.isImage"
             [class.grid__block--date]="cell.hasDateFromFilter || cell.hasDateToFilter"
             [style.width.px]="cell.initialWidth"
        >

          <input class="grid__date-filter"
                 *ngIf="cell.hasDateFromFilter"
                 [value]="(filtersMap.get(cell.fieldName) || [])[0]"
                 (input)="onDateSelect(cell, $event, 'from')"
                 type="date"
          >

          <input class="grid__date-filter"
                 *ngIf="cell.hasDateToFilter"
                 [value]="(filtersMap.get(cell.fieldName) || [])[1]"
                 (input)="onDateSelect(cell, $event, 'to')"
                 type="date"
          >

          <input class="grid__search-input"
                 *ngIf="cell.isSearchable"
                 [value]="filtersMap.get(cell.fieldName) || ''"
                 [placeholder]="cell.placeholder || ''"
                 (input)="onSearchInput(cell, $event)"
                 type="text"
                 autocomplete="none"
          >

          <app-select *ngIf="cell.filterFields?.length"
                      [options]="cell.filterFields"
                      [hasEmpty]="false"
                      [isSizeSmall]="true"
                      [isMultiSelect]="true"
                      [initialValue]="filtersMap.get(cell.fieldName) || []"
                      (select)="onFilterSelect(cell, $event)"
          ></app-select>
        </div>
      </div>
    </div>
  </div>

  <div class="grid__body" #gridBodyRef>

    <preloader *ngIf="isLoading" [hasOverlay]="true"></preloader>

    <div class="grid__no-items" *ngIf="!isLoading && (!itemsArray || !itemsArray.length); else hasItems">
      <ng-content select="[grid-no-items]"></ng-content>
    </div>

    <ng-template #hasItems>
      <a class="grid__row"
         *ngFor="let item of itemsArray; trackBy: trackBy"
         [class.grid__row--has-sub]="subItemsFieldName"
         [routerLink]="getRouterLinkUrl(item)"
         [target]="linkTarget"
         (click)="onItemSelect(item)"
         @blockInitialAnimation
      >
        <div class="grid__item">
          <div class="grid__block"
               *ngFor="let cell of cells, index as i"
               [ngClass]="{
                 'grid__block--image': cell.isImage,
                 'grid__block--date': cell.hasDateFromFilter || cell.hasDateToFilter,
                 'grid__block--left': cell.align === 'left',
                 'grid__block--center': cell.align === 'center',
                 'grid__block--right': cell.align === 'right'
               }"
               [style.width.px]="cell.initialWidth"
          >
            <ng-container *ngTemplateOutlet="cellContentsArray[i]; context: { item: item }"></ng-container>
          </div>
        </div>

        <div class="grid__sub-item" *ngIf="subItemsFieldName" [@slideToggle]="item.isOpened">
          <div class="grid__row" *ngFor="let subItem of item[subItemsFieldName]">
            <div class="grid__block"
                 *ngFor="let cell of cells, index as subIdx"
                 [ngClass]="{
                   'grid__block--image': cell.isImage,
                   'grid__block--date': cell.hasDateFromFilter || cell.hasDateToFilter,
                   'grid__block--left': cell.align === 'left',
                   'grid__block--center': cell.align === 'center',
                   'grid__block--right': cell.align === 'right'
                 }"
                 [style.width.px]="cell.initialWidth"
            >
              <ng-container *ngTemplateOutlet="subCellContentsArray[subIdx]; context: { item: item, subItem: subItem }"></ng-container>
            </div>
          </div>
        </div>
      </a>

    </ng-template>
  </div>
</div>
