@import "variables";

:host {
  display: block;
}

.list-info {
  display: flex;
  align-items: center;

  &__pagination {
    margin: 0 0 0 auto;
  }
}

.grid {
  $grid: &;

  margin: 20px 0 0;

  &--small {
    font-size: 12px;
  }

  &__head,
  &__item,
  &__search {
    display: flex;
    min-width: 100%;
  }

  &__head-container {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &__head-scroller {
    overflow: hidden;
  }

  &__head {
    background: #514943;
    color: #fff;
  }

  &__row {
    display: inline-flex;
    min-width: 100%;
    background: #fff;
    border-bottom: 1px solid $borderColor;
    transition: background-color 0.1s ease;
    cursor: pointer;

    &:hover {
      background: #e9e9e9;
      color: inherit;
    }

    &--has-sub {
      flex-wrap: wrap;
    }
  }

  &__search {
    background: #eee;
  }

  &__item {
    width: 100%;
  }

  &__sub-item {
    border-bottom: 1px solid $borderColor;
  }

  &__search-input {
    max-width: 100%;
    padding: 3px 5px;
    border: 1px solid $borderColor;
    box-sizing: border-box;
  }

  &__body {
    position: relative;
    top: -3px;
    min-height: 20vh;
    overflow: auto;
  }

  &__block {
    flex-shrink: 0;
    position: relative;
    padding: 5px 10px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    word-break: break-word;

    &--sortable {
      transition: background-color 0.15s ease;
      cursor: pointer;

      &:hover {
        background: #5f564f;
      }
    }

    &--image {
      padding: 10px 5px;
      align-items: center;
      text-align: center;
    }

    &--center {
      align-items: center;
      text-align: center;
    }

    #{$grid}--small & {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }


  &__head &__block {
    border: 1px solid #8a837f;
    border-left: none;
  }

  &__body &__block,
  &__search &__block {
    border-right: 1px solid $borderColor;
  }

  &__search &__block {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $borderColor;
  }

  &__no-items {
    padding: 40px 60px;
    background: #f9f9f9;
    text-align: center;
    font-size: 16px;
    color: rgba($dark, 0.6);
  }
}

.sorting {
  position: relative;

  &::after {
    content: '\2193';
    position: absolute;
    top: calc(50% - 2px);
    right: 5px;
    transition: transform 0.2s ease;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
  }

  &--desc {
    &::after {
      content: '\2191';
    }
  }
}
