<div class="selector-overlay" *ngIf="isSelectorVisible" (click)="hideSelector()"></div>

<div class="selector" [class.selector--visible]="isSelectorVisible">
  <header class="selector__header">
    <div class="selector__title">Добавить товары</div>

    <button class="selector__close" (click)="hideSelector()" type="button">
      <i class="ai ai-multiply selector__close-icon"></i>
    </button>
  </header>

  <grid class="selector__grid"
        [cells]="gridCells"
        [itemsArray]="products"
        [itemsFiltered]="itemsFiltered"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        [subItemsFieldName]="variantsFieldName"
        (gridChange)="fetchProducts($event)"
        trackByFieldName="id"
        gridName="product-selector-list"
  >
    <span grid-total-items>Всего товаров: {{ itemsTotal }}</span>
    <span grid-no-items>Товаров не найдено</span>

    <ng-template #cellContent let-product="item">{{ product.id }}</ng-template>

    <ng-template #cellContent let-product="item">
      <img class="product__thumbnail-img" [src]="setItemThumbnail(product)">
    </ng-template>

    <ng-template #cellContent let-product="item">{{ product.name }}</ng-template>

    <ng-template #cellContent let-product="item">
      <ng-container *ngIf="product.isSingleVariant">
        {{ product.variants[0].sku }}
      </ng-container>
    </ng-template>

    <ng-template #cellContent let-product="item">
      <ng-container *ngIf="product.isSingleVariant">
        {{ product.variants[0].price }} {{ product.variants[0].currency | readableCurrency }}
      </ng-container>
    </ng-template>

    <ng-template #cellContent let-product="item">
      <ng-container *ngIf="showQty && product.isSingleVariant">
        <div class="qty">
          <input class="product__qty-input"
                 [(ngModel)]="product.variants[0].selectedQty"
                 [max]="product.variants[0].sellableQty"
                 min="0"
                 type="number"
          > из {{ product.variants[0].sellableQty }}
        </div>
      </ng-container>
    </ng-template>

    <ng-template #cellContent let-product="item">
      <ng-container [ngSwitch]="product.isEnabled">
        <ng-container *ngSwitchCase="true">Включен</ng-container>
        <ng-container *ngSwitchCase="false">Выключен</ng-container>
      </ng-container>
    </ng-template>

    <ng-template #cellContent let-product="item">
      <app-button class="product__select-btn"
                  *ngIf="product.isSingleVariant; else expandTmpl"
                  [disabled]="isBtnDisabled(product.variants[0])"
                  (click)="selectProduct(product, product.variants[0])"
                  btnSize="small"
      >
        Выбрать
      </app-button>

      <ng-template #expandTmpl>
        <button class="product__expand"
                [class.product__expand--opened]="product.isOpened"
                (click)="product.isOpened = !product.isOpened"
        >
          Открыть
        </button>
      </ng-template>
    </ng-template>

    <ng-template #subCellContent let-variant="subItem">
      <div class="product__variant-id"></div>
    </ng-template>

    <ng-template #subCellContent let-variant="subItem">
      <img class="product__thumbnail-img"
           *ngIf="variant.mediaUrl as media"
           [src]="uploadedHost + media"
      >
    </ng-template>

    <ng-template #subCellContent let-variant="subItem"> {{ variant.name }} </ng-template>

    <ng-template #subCellContent let-variant="subItem"> {{ variant.sku }} </ng-template>

    <ng-template #subCellContent let-variant="subItem">
      {{ variant.priceInDefaultCurrency }} {{ defaultCurrency | readableCurrency }}
    </ng-template>

    <ng-template #subCellContent let-variant="subItem">
      <ng-container *ngIf="showQty">
        <input class="product__qty-input"
               [(ngModel)]="variant.selectedQty"
               [max]="variant.sellableQty"
               min="0"
               type="number"
        > из {{ variant.sellableQty }}
      </ng-container>
    </ng-template>

    <ng-template #subCellContent let-variant="subItem">
      <ng-container [ngSwitch]="variant.isEnabled">
        <ng-container *ngSwitchCase="true">Включен</ng-container>
        <ng-container *ngSwitchCase="false">Выключен</ng-container>
      </ng-container>
    </ng-template>

    <ng-template #subCellContent let-product="item" let-variant="subItem">
      <app-button class="product__select-btn"
                  [disabled]="isBtnDisabled(variant)"
                  (click)="selectProduct(product, variant)"
                  btnSize="small"
      >
        Выбрать
      </app-button>
    </ng-template>
  </grid>
</div>
