<div class="field">
  <div class="field__label">
    {{ attribute?.label[lang] }}
  </div>

  <div class="field__control select" (clickOutside)="toggleVisibility(false)">

    <button class="select__active"
            [class.select__active--focused]="isVisible"
            [disabled]="isDisabled"
            (click)="toggleVisibility()"
            type="button"
    >
      {{ activeOptionLabel }}
    </button>

    <div class="select__options" *ngIf="isVisible">
      <div class="select__option"
           *ngIf="hasEmpty"
           (click)="selectEmptyOption()"
      ></div>

      <div class="select__option"
           *ngFor="let option of options"
           [class.select__option--active]="option.isSelected"
           (click)="selectOption(option)"
      >
        <span class="select__checkbox" *ngIf="isMultiSelect">
          <i class="ai ai-checkmark select__checkmark" *ngIf="option.isSelected"></i>
        </span>

        {{ option.view || option.data }}
      </div>
    </div>

  </div>

</div>
