@import "variables";

.order {
  &__name {
    width: 100%;
  }

  &__customer-name {
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
  }

  &__time {
    display: block;
    margin: 3px 0 0;
    font-size: 13px;
    color: rgba($dark, 0.6);
  }

  &__shipment-status,
  &__city {
    font-size: 12px;
  }
}

.status-control {
  margin: 9px 0 0 15px;

  &__toggle {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
  }
}
