<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Заказы
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-main-btn" (click)="add()">Добавить заказ</button>
    </div>
  </header>

  <div class="page__list-info list-info">
    <div class="list-info__total-items">
      Всего заказов: {{ itemsTotal }}
    </div>
    <pagination class="list-info__pagination" [pageCount]="pagesTotal" (change)="fetchOrders($event)"></pagination>
  </div>

  <div class="grid page__grid">
    <div class="grid__container">

      <div class="grid__head order">
        <div class="grid__block order__id">ID</div>
        <div class="grid__block order__create-date">Дата</div>
        <div class="grid__block order__name">Имя</div>
        <div class="grid__block order__price">Сумма</div>
        <div class="grid__block order__status">Статус</div>
        <div class="grid__block order__admin-note">Комментарий админа</div>
        <div class="grid__block order__client-note">Комментарий клиента</div>
      </div>

      <div class="grid__body">
        <a class="grid__row order"
           *ngFor="let order of orders"
           [routerLink]="['view', order.id]"
        >
          <div class="grid__block order__id">
            {{ order.id }}
          </div>
          <div class="grid__block order__create-date">
            {{ order.createdDate | date }}
          </div>
          <div class="grid__block order__name">
            {{ order.customerFirstName }} {{ order.customerLastName }}
          </div>
          <div class="grid__block order__price">
            {{ order.orderTotalPrice }}
          </div>
          <div class="grid__block order__status">
            {{ order.status }}
          </div>
          <div class="grid__block order__admin-note">
            {{ order.adminNote }}
          </div>
          <div class="grid__block order__client-note">
            {{ order.clientNote }}
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
