@import "variables";

.list-info {
  display: flex;
  align-items: center;

  &__pagination {
    margin: 0 0 0 auto;
  }
}

.grid {
  &__block {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.order {
  &__id {
    width: 30px;
    justify-content: center;
  }

  &__name {
    flex-wrap: wrap;
    width: 250px;
  }

  &__customer-name {
    width: 100%;
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
  }

  &__city {
    width: 100px;
  }

  &__create-date {
    width: 100px;
  }

  &__price {
    width: 75px;
  }

  &__status {
    width: 65px;
  }

  &__admin-note {
    width: 200px;
  }

  &__client-note {
    width: 200px;
  }
}
