<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Заказы
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-main-btn" (click)="add()">Добавить заказ</button>
    </div>
  </header>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="orders"
        [itemsFiltered]="itemsFiltered"
        [linkUrlSuffix]="gridLinkUrl"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        (gridChange)="fetchOrders($event)"
        trackByFieldName="id"
        linkFieldName="id"
        gridName="order-list"
  >
    <span grid-total-items>Всего заказов: {{ itemsTotal }}</span>
    <span grid-no-items>Заказы не найдены</span>

    <ng-template #cellContent let-order="item">{{ order.id }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.createdAt | date }}</ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__name">
        {{ order.address.firstName }} {{ order.address.lastName }}
        <div class="order__customer-name"
             *ngIf="order.customerFirstName !== order.address.firstName || order.customerLastName !== order.address.lastName"
        >
          ({{ order.customerFirstName }} {{ order.customerLastName }})
        </div>
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.address.city }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.totalCost }} {{ defaultCurrency | readableCurrency }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.status }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.adminNote }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.novaposhtaTrackingId }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.clientNote }}</ng-template>
  </grid>

</div>
