<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Заказы
    </h1>

    <div class="status-control" *ngIf="false">
      Показать только готовые к отправке <toggle class="status-control__toggle" [formControl]="statusControl"></toggle>
    </div>

    <div class="header__toolbar">
      <app-button (click)="copyOrdersToClipboard()">Скопировать в буфер</app-button>
      <button class="header__btn toolbar-main-btn" (click)="add()">Добавить заказ</button>
    </div>
  </header>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="orders"
        [itemsFiltered]="itemsFiltered"
        [linkUrlSuffix]="gridLinkUrl"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        (gridChange)="fetchOrders($event)"
        trackByFieldName="id"
        linkFieldName="id"
        gridName="order-list"
  >
    <span grid-total-items>Всего заказов: {{ itemsTotal }}</span>
    <span grid-no-items>Заказы не найдены</span>

    <ng-template #cellContent let-order="item">{{ order.id }}</ng-template>
    <ng-template #cellContent let-order="item">
      {{ order.createdAt | date:'dd.MM.y' }}
      <span class="order__time">{{ order.createdAt | date:'HH:mm:ss' }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__name">
        {{ order.shipment.recipient.firstName }} {{ order.shipment.recipient.lastName }}
        <br>
        {{ order.shipment.recipient.phone }}
        <div class="order__customer-name"
             *ngIf="hasDifferentName(order) as differentName"
        >
          {{ differentName }}
        </div>
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <span class="order__city">{{ order.shipment.recipient.settlement || order.shipment.recipient.settlementFull }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.prices.totalCost }} {{ defaultCurrency | readableCurrency }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.adminNote }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.statusDescription[lang] }}</ng-template>
    <ng-template #cellContent let-order="item">
      <span class="order__shipment-status">
        {{ order.shipment.statusDescription }}
      </span>
    </ng-template>
    <ng-template #cellContent let-order="item">
      {{ order.shippedAt | date:'dd.MM.y' }}
      <span class="order__time">{{ order.shippedAt | date:'HH:mm:ss' }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.shipment.trackingNumber }}</ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__is-paid"
           *ngIf="order.paymentType !== paymentTypes.CASH_ON_DELIVERY"
           [class.order__is-paid--danger]="!order.isOrderPaid"
      >
        {{ order.isOrderPaid ? 'Да' : 'Нет' }}
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.paymentMethodAdminName[lang] }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.isCallbackNeeded ? 'Да' : 'Нет' }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.clientNote }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.manager.name }}</ng-template>
    <ng-template #cellContent let-order="item">
      <ng-container [ngSwitch]="order.source">
        <ng-container *ngSwitchCase="'client'">Клиент</ng-container>
        <ng-container *ngSwitchCase="'manager'">Менеджер</ng-container>
      </ng-container>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <span class="order__city">{{ order.customerNote }}</span>
    </ng-template>
  </grid>

</div>
