<ul class="navbar" (clickOutside)="closeSubItems()">
  <li>
    <a class="navbar__link navbar__link--logo"
       routerLink="/"
       target="_blank"
    >
      <img class="navbar__logo" src="/admin/assets/images/klondike-icon.png" alt="">
    </a>
  </li>

  <ng-container *ngFor="let item of navBarMenu; let i = index">
    <li class="navbar__item">
      <a *ngIf="item.link; else emptyLink"
         class="navbar__link"
         [class.navbar__link--active]="item.isSelected"
         [routerLink]="item.link"
         (click)="showSubItems(item);"
      >
        <i [ngClass]="item.icon"></i>
        {{ item.name }}
      </a>

      <ng-template #emptyLink>
        <span class="navbar__link"
           [class.navbar__link--active]="item.isSelected"
           (click)="showSubItems(item);"
        >
          <i [ngClass]="item.icon"></i>
          {{ item.name }}
        </span>
      </ng-template>

      <ng-container *ngIf="item.isPinned">
        <img class="navbar__pin-icon" src="/admin/assets/images/push-pin.svg" alt="push-pin" (click)="unpinItem(item, i)">
      </ng-container>
    </li>

    <ng-container *ngIf="item.isChildrenVisible">
      <ul class="sub-navbar">
        <li class="sub-navbar__item" *ngFor="let subItem of item.subItems">
          <a
            class="sub-navbar__link"
            routerLinkActive="navbar__link--active"
            (click)="onSubItemClickHandler(item)"
            [routerLink]="subItem.link"
          >
            {{ subItem.name }}
          </a>

          <img class="sub-navbar__pin-icon" src="/admin/assets/images/push-pin.svg" alt="push-pin" (click)="pinSubItem(subItem)">
        </li>
      </ul>
    </ng-container>
  </ng-container>
</ul>
