<ul class="navbar">
  <li>
    <a class="navbar__link navbar__link--logo"
       routerLink="/"
       target="_blank"
    >
      <img class="navbar__logo" src="/admin/assets/images/klondike-icon.png" alt="">
    </a>
  </li>
  <ng-container *ngFor="let item of navBarMenu">
    <li>
      <a class="navbar__link" (click)="item.action()" [routerLink]="item.link" routerLinkActive="navbar__link--active">
        <i [ngClass]="item.icon"></i>
        {{ item.name }}
      </a>
    </li>
<!--    <ng-template class="sub-navbar" *ngFor="let subItem of item.subItems">-->
<!--      {{ item.subItems }}-->
<!--      <li>-->
<!--        <a class="sub-navbar__link" [routerLink]="subItem.link" routerLinkActive="navbar__link&#45;&#45;active">-->
<!--          <i [ngClass]="subItem.icon"></i>-->
<!--          {{ subItem.name }}-->
<!--        </a>-->
<!--      </li>-->
<!--    </ng-template>-->
  </ng-container>
</ul>

<ng-container *ngIf="true">
  <ul class="sub-navbar" *ngFor="let subItem of navBarMenu[1].subItems">
    <li>
      <a class="sub-navbar__link" [routerLink]="subItem.link" routerLinkActive="navbar__link--active">
        <i [ngClass]="subItem.icon"></i>
        {{ subItem.name }}
      </a>
    </li>
  </ul>
</ng-container>
