@import "variables";

.navbar {
  height: 100%;
  padding: 0 0 20vh;
  background: #373330;

  &__link {
    position: relative;
    display: block;
    padding: 16px 5px 11px;
    text-align: center;
    color: #aaa6a0;
    font-size: 10px;
    text-transform: uppercase;

    &:not(&--logo):hover {
      background: #4a4542;
      color: #f7f3eb;
    }

    &--active:not(&--logo) {
      background: #524d49;
      color: #f7f3eb;
    }

    &--logo {
      position: relative;
      padding: 20px 0 22px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        border-top: 1px solid grey;
      }

    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon {
    display: block;
    margin: 0 auto 3px;
    font-size: 22px;
  }
}

.sub-navbar {
  width: 100%;
  padding: 0 0 20vh;
  display: flex;
  background: #373330;

  &__link {
    padding: 16px 5px 11px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #aaa6a0;
    font-size: 10px;
    text-transform: uppercase;
  }
}
