@import "variables";

.navbar {
  position: relative;
  height: 100%;
  padding: 0 0 20vh;
  background: #373330;

  &__link {
    position: relative;
    display: block;
    padding: 16px 5px 11px;
    text-align: center;
    color: #aaa6a0;
    font-size: 10px;
    text-transform: uppercase;

    &:not(&--logo):hover {
      background: #4a4542;
      color: #f7f3eb;
    }

    &--active:not(&--logo) {
      background: #524d49;
      color: #f7f3eb;
    }

    &--logo {
      position: relative;
      padding: 20px 0 22px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        border-top: 1px solid grey;
      }

      &--with-chilren {
        background-color: #7e7671;
      }

    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon {
    display: block;
    margin: 0 auto 3px;
    font-size: 22px;
  }
}

.sub-navbar {
  position: absolute;
  top: 0;
  left: 88px;
  width: max-content;
  min-width: 240px;
  height: 100%;
  padding: 88px 15px;
  background-color: #373330;
  z-index: 1;

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    padding: 10px 20px;
    color: #f1ede6;
  }
}
