<ul class="navbar">
  <li>
    <a class="navbar__link navbar__link--logo"
       routerLink="/"
       target="_blank"
    >
      <img class="navbar__logo" src="/admin/assets/images/klondike-icon.png" alt="">
    </a>
  </li>
  <ng-container *ngFor="let item of navBarMenu">
    <li>
      <a class="navbar__link" (click)="showSubItems(item)" [routerLink]="item.link" routerLinkActive="navbar__link--active">
        <i [ngClass]="item.icon"></i>
        {{ item.name }}
      </a>
    </li>
    <ng-container *ngIf="item.isChildrenVisible">
      <ul class="sub-navbar">
        <li class="sub-navbar__item" *ngFor="let subItem of item.subItems">
          <a class="sub-navbar__link" (click)="closeSubNavbar(item)" [routerLink]="subItem.link" routerLinkActive="navbar__link--active">
<!--            <i [ngClass]="subItem.icon"></i>-->
            {{ subItem.name }}
          </a>
        </li>
      </ul>
    </ng-container>
  </ng-container>
</ul>
