<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewAggregator">
      <ng-container *ngSwitchCase="true">Новый агрегатор</ng-container>
      <ng-container *ngSwitchCase="false">Агрегатор {{ aggregator?.name }}</ng-container>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="!isNewAggregator" (click)="delete()" type="button">
        Удалить
      </button>
      <button class="header__btn toolbar-main-btn" (click)="save()" type="button">Сохранить</button>
    </div>
  </div>

  <form class="aggregator" *ngIf="form; else preloaderTmpl" [formGroup]="form">

    <div class="aggregator__field field field--required"
         *ngIf="form.get('name') as name"
         [class.field--invalid]="isControlInvalid(name)"
    >
      <label for="name" class="field__label">Название</label>
      <span class="field__control">
        <input class="field__input" [formControl]="name" type="text" id="name">
      </span>
    </div>

    <div class="aggregator__field field"
         *ngIf="form.get('isVisibleOnProductPage') as isVisibleOnProductPage"
         [class.field--invalid]="isControlInvalid(isVisibleOnProductPage)"
    >
      <label class="field__label">Показывать таблицу на странице товара?</label>
      <div class="field__control">
        <toggle [formControl]="isVisibleOnProductPage"></toggle>
      </div>
    </div>

    <div class="aggregator__field field">
      <label class="field__label">Товары</label>
      <div class="field__control">
        <app-button (click)="openProductSelector()">Добавить товар</app-button>

        <div class="aggregator__products">
          <preloader class="aggregator__products-preloader" *ngIf="isProductsLoading" [hasOverlay]="true"></preloader>

          <div class="aggregator__product product" *ngFor="let product of products$ | async">
            <button class="product__remove" (click)="onProductRemove(product)">
              <i class="ai ai-trash"></i>
            </button>

            <img class="product__img" [src]="setItemThumbnail(product)">

            <a class="product__name"
               [routerLink]="['/', 'admin', 'product', 'edit', product.id]"
               target="_blank"
            >
              {{ product.name }}
            </a>
          </div>
        </div>
      </div>
    </div>


  </form>

  <ng-template #preloaderTmpl>
    <preloader class="preloader"></preloader>
  </ng-template>

</div>

<product-selector [canInputQty]="false"
                  (selected)="onProductSelect($event)"
></product-selector>
