<div class="page categories">
  <div class="categories__sidebar">

    <div class="categories__toolbar">
      <button class="categories__add"
              (click)="addRootCategory()"
              type="button"
      >
        Добавить корневую категорию
      </button>
      <button class="categories__add"
              (click)="addSubCategory()"
              type="button"
      >
        Добавить подкатегорию
      </button>
    </div>

    <div class="categories__list-title">Категории:</div>

    <ul class="categories__list">
      <div class="categories__preloader" *ngIf="isLoading">
        <preloader class="categories__preloader-cmp"></preloader>
      </div>

      <ng-container *ngFor="let category of categories">
        <ng-container *ngTemplateOutlet="treeItem; context: { category: category }"></ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="categories__category">
    <router-outlet></router-outlet>
  </div>
</div>


<ng-template #treeItem let-category="category">
  <li>
    <a class="categories__list-item"
       [routerLink]="['edit', category.id]"
       [routerLinkActive]="'categories__list-item--active'"
       [draggable-item]="category"
       [draggable-item-type]="'category'"
       (dragged)="onReorder($event)"
       draggable="false"
    >
      {{ category.name }}
    </a>

    <ul class="categories__list categories__sublist" *ngIf="category.children.length">
      <ng-container *ngFor="let subCategory of category.children">
        <ng-container *ngTemplateOutlet="treeItem; context: { category: subCategory }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
