@import "variables";

.categories {
  display: flex;

  &__sidebar {
    width: 350px;
    flex-shrink: 0;
  }

  &__category {
    flex-grow: 2;
    padding: 0 0 0 40px;
  }

  &__preloader {
    position: relative;
    margin: 10vh 0 0;
  }

  &__add {
    margin: 10px 0 0;
    padding: 8px 20px 7px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: #ddd;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__list-title {
    margin: 30px 0 0;
    font-size: 24px;
  }

  &__list {
    margin: 15px 0 0;
  }

  &__sublist {
    margin: 0 0 0 15px;
  }

  &__list-item {
    padding: 1px 0 1px 20px;
    color: lighten($dark, 15%);
    transition: color 0.1s ease;
    background: url('https://klondike.com.ua/static/adminhtml/Magento/backend/ru_RU/extjs/resources/images/magento/tree/folder.gif') left center no-repeat;

    &:hover {
      color: darken($dark, 30%);
    }
  }
}
