<div class="page categories">
  <div class="categories__sidebar">

    <div class="categories__toolbar">
      <button class="categories__add"
              (click)="addRootCategory()"
      >
        Добавить корневую категорию
      </button>
      <button class="categories__add"
              (click)="addSubCategory()"
      >
        Добавить подкатегорию
      </button>
    </div>

    <div class="categories__list-title">Категории:</div>

    <ul class="categories__list">
      <ng-container *ngFor="let category of categories">
        <ng-container *ngTemplateOutlet="treeItem; context: { category: category }"></ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="categories__category">
    <router-outlet></router-outlet>
  </div>
</div>



<ng-template #treeItem let-category="category">
  <li>
    <button class="categories__list-item" (click)="selectCategory(category)">
      {{ category.name }}
    </button>

    <ul class="categories__list categories__sublist" *ngIf="category.children.length">
      <ng-container *ngFor="let subCategory of category.children">
        <ng-container *ngTemplateOutlet="treeItem; context: { category: subCategory }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
