@import "variables";

.field {
  margin: 30px 0 0;
}

.shipment {
  &__modal {
    left: 30vw;
  }

  &__submit {
    margin: 30px 0 0;
    text-align: center;
  }

  &__label-description {
    display: block;
    margin: 4px 0 0;
    color: rgba($dark, 0.6);
    font-size: 12px;
  }

  &__payer {
    display: block;
    margin: 4px 0 0;
    color: darken($red, 30%);
  }
}
