<ng-container *ngIf="isModalVisible">
  <div class="modal-overlay" (click)="closeModal()"></div>
  <div class="modal shipment__modal">
    <div class="modal__header">
      <div class="modal__title">
        Электронная накладная
      </div>
      <div class="modal__close" (click)="closeModal()">
        <i class="ai ai-multiply modal__close-icon"></i>
      </div>
    </div>

    <div class="modal__content">

      <div class="shipment__tabs">
        <div class="tabs">
          <button class="tabs__tab"
                  [class.tabs__tab--active]="creationType === 'manual'"
                  (click)="creationType = 'manual'"
          >
            Создать новую
          </button>
          <button class="tabs__tab"
                  [class.tabs__tab--active]="creationType === 'existing'"
                  (click)="creationType = 'existing'"
          >
            Ввести номер
          </button>
        </div>
      </div>

      <form class="shipment__form"
            *ngIf="creationType === 'manual'"
            [formGroup]="form"
            (ngSubmit)="onFormSubmit()"
            ngNativeValidate
      >

        <div class="field">
          <div class="field__label">Отправитель</div>
          <div class="field__control">
            <app-select formControlName="senderId" [options]="sendersSelectOptions"></app-select>
          </div>
        </div>

        <div class="field">
          <label for="weight" class="field__label">Вес, кг</label>
          <span class="field__control">
            <input class="field__input" formControlName="weight" id="weight" type="text" required>
          </span>
        </div>

        <div class="field">
          <label for="width" class="field__label">Ширина, см</label>
          <span class="field__control">
            <input class="field__input" formControlName="width" id="width" type="text" required>
          </span>
        </div>

        <div class="field">
          <label for="height" class="field__label">Высота, см</label>
          <span class="field__control">
            <input class="field__input" formControlName="height" id="height" type="text" required>
          </span>
        </div>

        <div class="field">
          <label for="length" class="field__label">Длина, см</label>
          <span class="field__control">
            <input class="field__input" formControlName="length" id="length" type="text" required>
          </span>
        </div>

        <div class="field">
          <label for="cost" class="field__label">
            Оценочная стоимость, грн
          </label>
          <span class="field__control">
            <input class="field__input" formControlName="cost" id="cost" type="number">
          </span>
        </div>

        <div class="field">
          <label for="backwardMoneyDelivery" class="field__label">
            Сумма наложенного платежа, грн

            <span class="shipment__label-description">(оставить пустым, если без наложенного)</span>
          </label>
          <span class="field__control">
            <input class="field__input" formControlName="backwardMoneyDelivery" id="backwardMoneyDelivery" type="number">
          </span>
        </div>

        <!--
        Uncomment for selecting Payer Type
        <div class="field">
          <label for="description" class="field__label">Плательщик</label>
          <span class="field__control">
            <app-select formControlName="payerType" [options]="payerTypeOptions"></app-select>
            <span class="shipment__payer">Исходя из суммы заказа, плательщик - <b>{{ payerTypeNameForCost }}</b></span>
          </span>
        </div>
        -->

        <div class="field">
          <label for="description" class="field__label">Описание посылки</label>
          <span class="field__control">
            <input class="field__input" formControlName="description" id="description" type="text" required>
          </span>
        </div>

        <div class="shipment__submit">
          <app-button btnStyle="primary" type="submit">
            Сохранить
          </app-button>
        </div>
      </form>

      <div class="shipment__form" *ngIf="creationType === 'existing'">
        <div class="field">
          <label for="trackingId" class="field__label">Номер накладной</label>
          <span class="field__control">
            <input class="field__input" [formControl]="trackingIdControl" id="trackingId" type="text" required>
          </span>
        </div>

        <div class="shipment__submit">
          <app-button btnStyle="primary" type="button" (click)="onTrackingIdSubmit()">
            Сохранить
          </app-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
