<div class="page methods">

  <preloader class="preloader" *ngIf="isLoading"></preloader>

  <div class="methods__sidebar list">
    <app-button class="list__add-btn" (click)="addNewMethod()">
      Добавить способ оплаты
    </app-button>

    <div class="list__methods">
      <div class="list__method"
           *ngIf="!paymentMethods.length; else hasMethodsTmpl"
      >
         Нет способов оплаты
      </div>

      <ng-template #hasMethodsTmpl>
        <button class="list__method"
                *ngFor="let method of paymentMethods"
                [class.list__method--active]="method === activeMethod"
                (click)="selectMethod(method)"
        >
          <ng-container *ngIf="method.adminName as name; else newMethodTitle">
            {{ name }}
          </ng-container>
        </button>
      </ng-template>
    </div>
  </div>

  <div class="methods__content" *ngIf="activeMethod">

    <div class="header">
      <h1 class="header__title">
        <ng-container *ngIf="activeMethod.id; else newMethodTitle">{{ activeMethod.adminName }}</ng-container>
      </h1>

      <div class="header__toolbar">
        <button class="header__btn toolbar-btn" *ngIf="activeMethod.id" (click)="deleteMethod()" type="button">
          Удалить
        </button>
        <button class="header__btn toolbar-main-btn" (click)="saveMethod()" type="button">
          Сохранить
        </button>
      </div>
    </div>

    <form class="method-form form" [formGroup]="form" novalidate>
      <div class="method-form__field field"
           *ngIf="form.get('isEnabled') as isEnabled"
      >
        <label class="field__label">Включить способ оплаты</label>
        <div class="field__control">
          <toggle [formControl]="isEnabled"></toggle>
        </div>
      </div>

      <div class="method-form__field field field--required"
           *ngIf="form.get('adminName') as adminName"
           [class.field--invalid]="isControlInvalid(adminName)"
      >
        <label for="adminName" class="field__label">Название для менеджера</label>
        <span class="field__control">
          <input class="field__input" [formControl]="adminName" type="text" id="adminName">
        </span>
      </div>

      <div class="method-form__field field field--required"
           *ngIf="form.get('clientName') as clientName"
           [class.field--invalid]="isControlInvalid(clientName)"
      >
        <label for="clientName" class="field__label">Название для клиента</label>
        <span class="field__control">
          <textarea class="field__input" [formControl]="clientName" type="text" id="clientName" rows="8"></textarea>
        </span>
      </div>

      <div class="method-form__field field"
           *ngIf="form.get('sortOrder') as sortOrder"
           [class.field--invalid]="isControlInvalid(sortOrder)"
      >
        <label for="sortOrder" class="field__label">Сортировка</label>
        <span class="field__control">
          <input class="field__input" [formControl]="sortOrder" type="number" id="sortOrder">
        </span>
      </div>
    </form>

  </div>
</div>

<ng-template #newMethodTitle>Новый способ оплаты</ng-template>
