<div class="btn-container">
  <app-button (click)="addNewProduct()">Добавить товар</app-button>
</div>

<product-item-sorter class="sorter"
                     [isLoading]="isLoading"
                     [items]="productsWithSortOrder"
                     [itemsType]="type"
                     [hasRemoveBtn]="true"
                     (reorder)="onReorder($event)"
                     (remove)="onRemove($event)"
></product-item-sorter>

<product-selector [canInputQty]="false"
                  (selected)="onProductSelect($event)"
></product-selector>
