<div class="group" [class.group--no-styles]="!showHeader" @blockInitialAnimation>

  <div class="group__header-container" *ngIf="showHeader" (click)="toggle()" [class.group__header-container--opened]="isOpened">
    <div class="group__header">
      <div class="group__toggle" [class.group__toggle--opened]="isOpened">
        <i class="ai ai-arrow-down-in-circle group__toggle-icon"></i>
      </div>

      <div class="group__title">
        <ng-content select="[fields-group-title]"></ng-content>
      </div>
    </div>
  </div>

  <div class="group__content" [@slideToggle]="isOpened">
<!--    Can't use *ngIf because Quill Editor won't show render inserted html as html -->
<!--    <ng-container *ngIf="isOpened">-->
      <ng-content></ng-content>
<!--    </ng-container>-->
  </div>
</div>
