@import "variables";

.group {
  position: relative;
  margin-top: -1px;
  padding: 0 0 0 250px;
  min-height: 58px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &--no-styles {
    padding-left: 0;
    border-top: none;
    border-bottom: none;
  }

  &__header-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: rgba($dark, 0.06);
    }

    &--opened {
      width: 250px;
    }
  }

  &__header {
    position: sticky;
    top: 15px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
  }

  &__title {
    font-size: 18px;
  }

  &__toggle {
    margin: 0 20px 0 0;
    transition: all 0.2s ease;

    &--opened {
      transform: rotate(180deg);
    }
  }

  &__toggle-icon {
    font-size: 18px;
  }

  &__content {
    padding: 20px 0;
  }
  &--no-styles > &__content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
