<header class="header">
  <h1 class="header__title" [ngSwitch]="isNewCategory">
    <ng-container *ngSwitchCase="true">
      Новая категория
    </ng-container>

    <ng-container *ngSwitchCase="false">
      {{ category?.name[lang] }} (ID: {{category?.id }})
    </ng-container>
  </h1>

  <div class="header__toolbar">
    <app-button class="header__btn" *ngIf="!isNewCategory" (click)="delete()" btnStyle="danger">
      Удалить
    </app-button>

    <app-button class="header__btn" *ngIf="category" [link]="['/', category.slug]">
      Посмотреть на сайте
    </app-button>

    <app-button class="header__btn" (click)="save()" btnStyle="primary">
      Сохранить
    </app-button>
  </div>
</header>

<form class="category" *ngIf="form; else preloaderTmpl">
  <div class="category__field field">
    <label class="field__label">Включить категорию</label>
    <div class="field__control">
      <toggle [formControl]="isEnabled"></toggle>
    </div>
  </div>

  <div class="category__field field" *ngIf="isNewCategory">
    <div class="field__label">Эта категория клон?</div>
    <div class="field__control">
      <toggle [(ngModel)]="isClone" [ngModelOptions]="{ standalone: true }"></toggle>
    </div>
  </div>

  <div class="category__field field" *ngIf="isClone">
    <div class="field__label">Категория-источник</div>
    <div class="field__control">
      <canonical-category-select [formControl]="canonicalCategoryId"></canonical-category-select>
    </div>
  </div>

  <div class="category__field field field--required">
    <label class="field__label" for="name">Имя</label>
    <div class="field__control">
      <multilingual-control [formControl]="name" id="name"></multilingual-control>
    </div>
  </div>

  <ng-container *ngIf="(isNewCategory && !isClone) || !isClone">
    <div class="category__field field">
      <label class="field__label" for="description">Описание</label>
      <div class="field__control">
        <multilingual-control [formControl]="description" type="editor" id="description"></multilingual-control>
      </div>
    </div>

    <div class="category__field field">
      <div class="field__label">Сортировка товаров по умолчанию</div>
      <div class="field__control">
        <app-select [formControl]="defaultItemsSort" [options]="sortOptions"></app-select>
      </div>
    </div>

    <div class="category__field field" *ngIf="!isNewCategory">
      <div class="field__label">Товары в этой категории</div>
      <div class="field__control">
        <app-button (click)="openItemSorter()">Отсортировать</app-button>
      </div>
    </div>

    <fields-group id="category-seo">
      <div fields-group-title>SEO</div>

      <div class="category__field field" [class.field--invalid]="isControlInvalid(slug)">
        <label class="field__label" for="slug">URL адрес</label>
        <span class="field__control">
          <input class="field__input" [formControl]="slug" type="text" id="slug">
          <redirect-control *ngIf="!isNewCategory"
                            [formControl]="createRedirect"
                            [initialSlug]="category?.slug"
                            [newSlugControl]="slug"
          ></redirect-control>
        </span>
      </div>

      <div class="category__field field">
        <label class="field__label" for="metaTitle">Meta заголовок</label>
        <div class="field__control">
          <multilingual-control [formControl]="metaTitle" type="textarea" id="metaTitle"></multilingual-control>
        </div>
      </div>

      <div class="category__field field">
        <label class="field__label" for="metaDescription">Meta описание</label>
        <div class="field__control">
          <multilingual-control [formControl]="metaDescription" type="textarea" id="metaDescription"></multilingual-control>
        </div>
      </div>

      <div class="category__field field">
        <label class="field__label" for="metaKeywords">Meta ключевые слова</label>
        <div class="field__control">
          <multilingual-control [formControl]="metaKeywords" type="textarea" id="metaKeywords"></multilingual-control>
        </div>
      </div>
    </fields-group>

    <fields-group id="category-media">
      <div fields-group-title>Картинки и видео</div>

      <div class="category__field media" *ngIf="medias">
        <media-asset class="media__asset"
                     *ngFor="let media of medias.value, index as i"
                     [media]="media"
                     [draggable-item]="media"
                     [class.media__asset--main]="i === 0 && medias.value.length > 1"
                     (remove)="onMediaRemove(media, medias)"
                     (dragged)="onMediaReorder(medias, $event)"
                     draggable-item-type="media"
                     draggable-item-direction="horizontal"
        ></media-asset>

        <media-uploader class="media_asset"
                        [uploadUrl]="getMediaUploadUrl()"
                        (uploaded)="mediaUploaded($event, medias)"
        ></media-uploader>

      </div>
    </fields-group>
  </ng-container>

</form>

<ng-template #preloaderTmpl>
  <preloader class="preloader"></preloader>
</ng-template>

<category-product-item-sorter-modal *ngIf="category?.id as id" [categoryId]="id"></category-product-item-sorter-modal>
