@import "variables";
@import "mixins";


//.banner {
//  $brk_point: 500px;
//
//  display: flex;
//  margin: 72px 0 0;
//
//  &__sections {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    margin: 0 auto;
//    padding: 0 5px;
//    border: 1px solid $borderColor;
//  }
//
//  &__section {
//    width: 365px;
//    height: 365px;
//
//    &:hover {
//      cursor: pointer;
//    }
//
//    &--main {
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      margin-right: 5px;
//    }
//
//    &--small {
//      display: flex;
//      flex-wrap: wrap;
//    }
//  }
//
//  &__add-btn {
//    height: 100px;
//    opacity: 0.2;
//
//    &--small {
//      height: 70px;
//    }
//  }
//
//  &__img {
//    max-width: 100%;
//    max-height: 100%;
//    height: auto;
//    opacity: 1;
//  }
//
//  &__sale-label {
//    position: absolute;
//    top: 3px;
//    right: 3px;
//    padding: 5px 6px;
//    background: saturate($red, 8%);
//    border-radius: 2px;
//    color: #fff;
//    font-size: 14px;
//  }
//
//  &__label {
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: 1;
//    padding: 5px 6px 3px;
//    border-radius: 2px;
//    color: #fff;
//    font-size: 13px;
//    text-transform: uppercase;
//
//    &--new {
//      background: saturate($green, 5%);
//    }
//
//    &--top {
//      background: saturate($purple, 5%);
//    }
//  }
//}
//
//.left-block {
//  &__item {
//    position: relative;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    width: 360px;
//    height: 360px;
//    border: 1px dashed $borderColor;
//  }
//}
//
//.right-block {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  flex-wrap: wrap;
//
//  &__item {
//    position: relative;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    width: 177px;
//    height: 177px;
//    border: 1px dashed $borderColor;
//
//    &--wide {
//      width: 100%;
//      height: 177px;
//    }
//  }
//}

.banner {
  display: flex;
  justify-content: center;
  margin: 72px 0 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 172px);
    grid-template-rows: repeat(2, 183px);
    padding: 3px;
    border: 1px solid $borderColor;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed $borderColor;

    &:hover {
      cursor: pointer;
    }

    &--0 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      margin-right: 2px;
    }

    &--1 {
      grid-column: 3 / 4;
      grid-row: 1 / 1;
      margin-right: 2px;
    }

    &--2 {
      grid-column: 4 / 5;
      grid-row: 1 / 1;
    }

    &--3 {
      grid-column: 3 / 5;
      grid-row: 2;
      margin-top: 2px;
    }
  }

  &__add-btn {
    height: 100px;
    opacity: 0.2;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    opacity: 1;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px 6px 3px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;

    &--new {
      background: saturate($green, 5%);
    }

    &--top {
      background: saturate($purple, 5%);
    }
  }

  &__sale-label {
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--discount {
      align-self: flex-end;
      padding: 5px 6px;
      border-radius: 2px;
      font-size: 13px;
      background: saturate($red, 8%);
      color: #fff;
    }

    &--price {
      color: red;
      font-size: 19px;
    }

    &--old-price {
      color: rgba(49, 49, 49, 0.6);
      text-decoration: line-through;
    }
  }
}
