@import "variables";

.preloader {
  margin-top: 15vh;
}

.product {
  margin: 40px 0 0;

  &__group {
    & & {
      display: block;
      padding: 0 50px;
    }
  }

  &__field {
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__edit-attributes {
    display: block;
    margin: 20px auto 0;
  }
}

.media {
  display: flex;
  flex-wrap: wrap;

  &__asset {
    margin: 0 25px 25px 0;
  }
}

.price {
  display: flex;
  align-items: center;

  &__input {
    width: 100px;
  }

  &__currency {
    margin: 0 0 0 10px;
  }

  &__default-currency {
    margin: 0 0 0 20px;
    color: rgba($dark, 0.6);
  }
}
