<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewProduct">
      <ng-container *ngSwitchCase="true">
        Новый товар
      </ng-container>

      <ng-container *ngSwitchCase="false">
        {{ product?.name }}
      </ng-container>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="!isNewProduct" (click)="delete()" type="button">
        Удалить
      </button>
      <button class="header__btn toolbar-main-btn" (click)="save()" type="button">Сохранить</button>
    </div>
  </div>

  <form class="product" *ngIf="form" [formGroup]="form">

    <div class="product__field field"
           *ngIf="form.get('isEnabled') as isEnabled"
           [class.field--invalid]="isControlInvalid(isEnabled)"
    >
      <label class="field__label">Включить товар</label>
      <div class="field__control">
        <toggle [formControl]="isEnabled"></toggle>
      </div>
    </div>

    <div class="product__field field field--required"
         *ngIf="form.get('name') as name"
         [class.field--invalid]="isControlInvalid(name)"
    >
      <label for="name" class="field__label">Название товара</label>
      <span class="field__control">
        <input class="field__input" [formControl]="name" type="text" id="name">
      </span>
    </div>

    <div class="product__field field" *ngIf="form.get('categoryIds') as categoryIds">
      <label class="field__label">Категории</label>
      <span class="field__control">
        <category-select [formControl]="categoryIds"></category-select>
      </span>
    </div>

    <fields-group class="product__group" [id]="'product-attributes'">
      <div fields-group-title>Атрибуты<span *ngIf="isMultiVariant"> (общие)</span></div>

      <ng-container *ngIf="form.get('attributes') as attributes">
        <attribute-select class="product__field"
                          *ngFor="let attribute of attributes.value"
                          [selectedAttr]="attribute"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="attribute.valueId"
        >
        </attribute-select>
      </ng-container>

      <attributes-editor class="product__edit-attributes"
                         [initialFormValue]="form.value"
                         (generated)="onAttributesEdit($event)"
      ></attributes-editor>
    </fields-group>

    <fields-group *ngFor="let variantForm of variantsFormArray?.controls, index as i"
                  [class.product__group]="isMultiVariant"
                  [showHeader]="isMultiVariant"
    >

      <div fields-group-title *ngIf="isMultiVariant">
        Вариация {{ i + 1 }}<ng-container *ngIf="variantForm.get('name') as name"> - {{ name.value }}</ng-container>
      </div>

      <div class="product__field field field--required"
           *ngIf="variantForm.get('name') as name"
           [class.field--invalid]="isControlInvalid(name)"
      >
        <label class="field__label" [for]="'name-' + i">Название товара</label>
        <span class="field__control">
          <input class="field__input" [formControl]="name" type="text" [id]="'name-' + i">
        </span>
      </div>

      <div class="product__field field field--required"
           *ngIf="variantForm.get('sku') as sku"
           [class.field--invalid]="isControlInvalid(sku)"
      >
        <label class="field__label" [for]="'sku-' + i">Код</label>
        <span class="field__control">
          <input class="field__input" [formControl]="sku" [id]="'sku-' + i" type="text">
        </span>
      </div>

      <div class="product__field field field--required"
             *ngIf="variantForm.get('price') as price"
             [class.field--invalid]="isControlInvalid(price)"
      >
        <label class="field__label" [for]="'price-' + i">Цена</label>
        <span class="field__control price">
          <input class="field__input price__input" [formControl]="price" [id]="'price-' + i" type="text">

          <select class="price__currency"
                  *ngIf="variantForm.get('currency') as currency"
                  [formControl]="currency"
                  name="currency"
          >
            <option [value]="currencies.UAH">{{ currencies.UAH | readableCurrency }}</option>
            <option [value]="currencies.EUR">{{ currencies.EUR | readableCurrency }}</option>
          </select>

          <span class="price__default-currency" *ngIf="!isDefaultCurrency(i)">
            {{ product.variants[0].priceInDefaultCurrency }} грн
          </span>
        </span>
      </div>

      <div class="product__field field"
             *ngIf="variantForm.get('qty') as qty"
      >
        <label class="field__label" [for]="'qty-' + i">Количество</label>
        <span class="field__control">
          <input class="field__input" [formControl]="qty" [id]="'qty-' + i" type="number">
        </span>
      </div>

      <div class="product__field field"
           *ngIf="variantForm.get('vendorCode') as vendorCode"
           [class.field--invalid]="isControlInvalid(vendorCode)"
      >
        <label class="field__label" [for]="'vendorCode-' + i">Артикул</label>
        <span class="field__control">
          <input class="field__input" [formControl]="vendorCode" [id]="'vendorCode-' + i" type="text">
        </span>
      </div>

      <div class="product__field field"
           *ngIf="variantForm.get('gtin') as gtin"
           [class.field--invalid]="isControlInvalid(gtin)"
      >
        <label class="field__label" [for]="'gtin-' + i">GTIN</label>
        <span class="field__control">
          <input class="field__input" [formControl]="gtin" [id]="'gtin-' + i" type="text">
        </span>
      </div>

      <div class="product__field field"
           *ngIf="variantForm.get('googleAdsProductTitle') as googleAdsProductTitle"
           [class.field--invalid]="isControlInvalid(googleAdsProductTitle)"
      >
        <label class="field__label" [for]="'googleAdsProductTitle-' + i">Google product ads название товара</label>
        <span class="field__control">
          <input class="field__input" [formControl]="googleAdsProductTitle" [id]="'googleAdsProductTitle-' + i" type="text">
        </span>
      </div>

      <ng-container *ngIf="variantForm.get('attributes') as attributes">
        <attribute-select class="product__field"
                          *ngFor="let attribute of attributes.value"
                          [selectedAttr]="attribute"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="attribute.valueId"
        >
        </attribute-select>
      </ng-container>

      <div class="product__field field"
           *ngIf="variantForm.get('isDiscountApplicable') as isDiscountApplicable"
      >
        <label class="field__label">Накопительные скидки применимы?</label>
        <div class="field__control">
          <toggle [formControl]="isDiscountApplicable"></toggle>
        </div>
      </div>

      <fields-group class="product__group">
        <div fields-group-title>Контент</div>

        <div class="product__field field"
               *ngIf="variantForm.get('fullDescription') as fullDescription"
        >
          <label class="field__label" [for]="'desc-' + i">Описание</label>
          <span class="field__control">
            <quill-editor [formControl]="fullDescription" [id]="'desc-' + i" [modules]="quillModules"></quill-editor>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('shortDescription') as shortDescription"
        >
          <label class="field__label" [for]="'s-desc-' + i">Короткое описание</label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="shortDescription" [id]="'s-desc-' + i"></textarea>
          </span>
        </div>
      </fields-group>

      <fields-group class="product__group">
        <div fields-group-title>SEO</div>

        <div class="product__field field"
               *ngIf="variantForm.get('slug') as slug"
        >
          <label class="field__label" [for]="'slug-' + i">URL адрес</label>
          <span class="field__control">
            <input class="field__input" [formControl]="slug" [id]="'slug-' + i" type="text">
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.title') as metaTitle"
        >
          <label class="field__label" [for]="'metaTitle-' + i">Meta заголовок</label>
          <span class="field__control">
            <input class="field__input" [formControl]="metaTitle" [id]="'metaTitle-' + i" type="text">
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.description') as metaDescription"
        >
          <label class="field__label" [for]="'metaDesc-' + i">Meta описание</label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="metaDescription" [id]="'metaDesc-' + i"></textarea>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.keywords') as metaKeywords"
        >
          <label class="field__label" [for]="'metaKeys-' + i">Meta ключевые слова</label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="metaKeywords" [id]="'metaKeys-' + i"></textarea>
          </span>
        </div>
      </fields-group>

      <fields-group class="product__group">
        <div fields-group-title>Картинки и видео</div>

        <div class="product__field media" *ngIf="variantForm.get('medias') as medias">
          <media-asset class="media__asset"
                       *ngFor="let media of medias.value"
                       [media]="media"
                       (remove)="onMediaRemove(media)"
          ></media-asset>

          <media-uploader class="media_asset"
                          [uploadUrl]="getMediaUploadUrl()"
                          (uploaded)="mediaUploaded($event, medias)"
          ></media-uploader>

        </div>
      </fields-group>

    </fields-group>

    <fields-group class="product__group">
      <div fields-group-title>
        Отзывы
        <span *ngIf="product.reviewsCount"> ({{ product.reviewsCount }} - ср. оценка {{ product.reviewsAvgRating }})</span>
      </div>

      <reviews-viewer [productId]="product.id"></reviews-viewer>
    </fields-group>

  </form>

</div>
