@import "variables";

.preloader {
  top: initial;
  bottom: 15vh;
  position: fixed;
  z-index: 21;
}

.product {
  margin: 40px 0 0;

  &__group {
    & & {
      display: block;
      padding: 0 50px;
    }
  }

  &__field {
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__edit-attributes {
    display: block;
    margin: 20px auto 0;
  }
}

.media {
  display: flex;
  flex-wrap: wrap;

  &__asset {
    margin: 0 25px 25px 0;
  }
}

.price {
  display: flex;
  align-items: center;

  &__input {
    width: 100px;
  }

  &__currency {
    margin: 0 0 0 10px;
  }

  &__default-currency {
    margin: 0 0 0 20px;
    color: rgba($dark, 0.6);
  }
}

.sellable-qty {
  display: block;
  margin: 6px 0 0;
  font-size: 13px;
  color: rgba($dark, 0.6);

  &__count {
    font-weight: 600;
  }
}
