<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewProduct || isNewProductBasedOn">
      <ng-container *ngSwitchCase="true">
        Новый товар
      </ng-container>

      <ng-container *ngSwitchCase="false">
        {{ product?.name }}
      </ng-container>
    </h1>

    <div class="header__toolbar">
      <div class="header__codes">
        <ng-container *ngIf="product && !isNewProduct && !isNewProductBasedOn">
          <div class="header__codes--product-id">ID {{ product.id }}</div>
          <div class="header__codes--sku" *ngIf="!isMultiVariant">Код {{ product.variants[0].sku }}</div>
        </ng-container>
      </div>

      <div class="header__buttons">
        <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
          <i class="ai ai-arrow-left"></i> назад
        </button>

        <app-button class="header__btn" *ngIf="!isNewProduct && !isNewProductBasedOn" (click)="delete()" btnStyle="danger">
          Удалить
        </app-button>

        <app-button class="header__btn"
                    *ngIf="!isNewProduct && !isNewProductBasedOn && product"
                    [type]="'external-link'"
                    [link]="getClientProductLink()"
        >
          Посмотреть на сайте
        </app-button>

        <app-button class="header__btn" (click)="save('duplicate')">
          Сохранить и дублировать
        </app-button>

        <app-button class="header__btn" (click)="save()" type="button">
          Сохранить
        </app-button>

        <app-button class="header__btn"
                    (click)="save('exit')"
                    btnStyle="primary"
        >
          Сохранить и закрыть
        </app-button>
      </div>

    </div>
  </div>

  <form class="product" *ngIf="form" [formGroup]="form">

    <div class="product__field field"
           *ngIf="form.get('isEnabled') as isEnabled"
           [class.field--invalid]="isControlInvalid(isEnabled)"
    >
      <label class="field__label">
        Включить товар
      </label>
      <div class="field__control">
        <toggle [formControl]="isEnabled"></toggle>
      </div>
    </div>

    <div class="product__field field field--required"
         *ngIf="form.get('name') as name"
         [class.field--invalid]="isControlInvalid(name)"
    >
      <label for="name" class="field__label">Название товара</label>
      <span class="field__control">
        <input class="field__input" [formControl]="name" (blur)="onNameControlBlur(name)" type="text" id="name">
      </span>
    </div>

    <div class="product__field field" *ngIf="form.get('categories') as categories">
      <label class="field__label">
        Категории
      </label>
      <span class="field__control">
        <product-category-select [formControl]="categories"></product-category-select>
      </span>
    </div>

    <div class="product__field field" *ngIf="form.get('additionalServiceIds') as additionalServiceIds">
      <label class="field__label">
         Доп. услуги
      </label>
      <span class="field__control">
        <additional-service-select [formControl]="additionalServiceIds"></additional-service-select>
      </span>
    </div>

    <fields-group class="product__group product__group--first" id="product-attributes">
      <div fields-group-title>Атрибуты<span *ngIf="isMultiVariant"> (общие)</span></div>

      <ng-container *ngIf="form.get('attributes') as attributes">
        <attribute-select class="product__field"
                          *ngFor="let attribute of attributes.value"
                          [selectedAttr]="attribute"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="attribute.valueIds"
        >
        </attribute-select>
      </ng-container>

      <attributes-editor class="product__edit-attributes"
                         [initialFormValue]="form.value"
                         [isSelectManufacturerAttr]="isNewProduct || isNewProductBasedOn"
                         (generated)="onAttributesEdit($event)"
      ></attributes-editor>
    </fields-group>

    <fields-group *ngFor="let variantForm of variantsFormArray?.controls, index as i"
                  [class.product__group]="isMultiVariant"
                  [showHeader]="isMultiVariant"
    >

      <div fields-group-title *ngIf="isMultiVariant">
        Вариация {{ i + 1 }} - Код {{ product.variants[i].sku || '_____' }}<ng-container *ngIf="variantForm.get('name')?.value as name"> - {{ name }}</ng-container>
      </div>

      <fields-group class="product__group" id="product-info">
        <div fields-group-title>Инфо</div>

        <div class="product__field field field--required"
             *ngIf="isMultiVariant && variantForm.get('name') as name"
             [class.field--invalid]="isControlInvalid(name)"
        >
          <label class="field__label" [for]="'name-' + i">
            Название товара
          </label>
          <span class="field__control">
            <input class="field__input" [formControl]="name" (blur)="onVariantNameControlBlur(name, i)" type="text" [id]="'name-' + i">
          </span>
        </div>

        <div class="product__field field field--required"
               *ngIf="variantForm.get('price') as price"
               [class.field--invalid]="isControlInvalid(price)"
        >
          <label class="field__label" [for]="'price-' + i">
            Цена
          </label>
          <span class="field__control price">
            <input class="field__input price__input" [formControl]="price" [id]="'price-' + i" type="number">

            <select class="price__currency"
                    *ngIf="variantForm.get('currency') as currency"
                    [formControl]="currency"
                    name="currency"
            >
              <option [value]="currencies.UAH">{{ currencies.UAH | readableCurrency }}</option>
              <option [value]="currencies.EUR">{{ currencies.EUR | readableCurrency }}</option>
              <option [value]="currencies.USD">{{ currencies.USD | readableCurrency }}</option>
            </select>

            <span class="price__default-currency" *ngIf="!isDefaultCurrency(i)">
              {{ product.variants[i].priceInDefaultCurrency }} грн
            </span>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('oldPrice') as oldPrice"
               [class.field--invalid]="isControlInvalid(oldPrice)"
        >
          <label class="field__label" [for]="'oldPrice-' + i">
            Cтарая цена
          </label>
          <span class="field__control price">
            <input class="field__input price__input" [formControl]="oldPrice" [id]="'oldPrice-' + i" type="number">

            <span class="price__default-currency" *ngIf="!isDefaultCurrency(i) && product.variants[i].oldPriceInDefaultCurrency as oldDefaultPrice">
              {{ oldDefaultPrice }} грн
            </span>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('qtyInStock') as qtyInStock"
        >
          <label class="field__label" [for]="'qtyInStock-' + i">
            Количество всего на складе
          </label>
          <div class="field__control">
            <input class="field__input" [formControl]="qtyInStock" [id]="'qtyInStock-' + i" type="number" required>

            <div class="sellable-qty">
              Количество, доступное для продажи: <span class="sellable-qty__count">{{ product.variants[i].sellableQty }}</span>
              <button class="product__reserved"
                      *ngIf="product.variants[i].qtyInStock !== product.variants[i].sellableQty"
                      (click)="showReservedOrders(i)"
              >
                Показать заказы
              </button>
            </div>

          </div>
        </div>

        <div class="product__field field"
             *ngIf="variantForm.get('vendorCode') as vendorCode"
             [class.field--invalid]="isControlInvalid(vendorCode)"
        >
          <label class="field__label" [for]="'vendorCode-' + i">
            Артикул
          </label>
          <span class="field__control">
            <input class="field__input" [formControl]="vendorCode" [id]="'vendorCode-' + i" type="text">
          </span>
        </div>

        <div class="product__field field"
             *ngIf="variantForm.get('gtin') as gtin"
             [class.field--invalid]="isControlInvalid(gtin)"
        >
          <label class="field__label" [for]="'gtin-' + i">
            GTIN
          </label>
          <span class="field__control">
            <input class="field__input" [formControl]="gtin" [id]="'gtin-' + i" type="text">
          </span>
        </div>

        <div class="product__field field"
             *ngIf="variantForm.get('isIncludedInShoppingFeed') as isIncludedInShoppingFeed"
        >
          <label class="field__label">
            Включён ли товар в Shopping feed?
          </label>
          <div class="field__control">
            <toggle [formControl]="isIncludedInShoppingFeed"></toggle>
          </div>
        </div>

        <div class="product__field field"
             *ngIf="variantForm.get('googleAdsProductTitle') as googleAdsProductTitle"
             [class.field--invalid]="isControlInvalid(googleAdsProductTitle)"
        >
          <label class="field__label" [for]="'googleAdsProductTitle-' + i">
            Google product ads название товара
          </label>
          <span class="field__control">
            <input class="field__input" [formControl]="googleAdsProductTitle" [id]="'googleAdsProductTitle-' + i" type="text">
          </span>
        </div>

        <div class="product__field field"
             *ngIf="variantForm.get('isDiscountApplicable') as isDiscountApplicable"
        >
          <label class="field__label">
            Скидки применимы?
          </label>
          <div class="field__control">
            <toggle [formControl]="isDiscountApplicable"></toggle>
          </div>
        </div>
      </fields-group>

      <fields-group class="product__group"
                    *ngIf="isMultiVariant && variantForm.get('attributes') as attributes"
                    id="product-variant-attributes"
      >
        <div fields-group-title>Атрибуты</div>

        <attribute-select class="product__field"
                          *ngFor="let attribute of attributes.value"
                          [selectedAttr]="attribute"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="attribute.valueIds"
        >
        </attribute-select>
      </fields-group>

      <fields-group class="product__group" id="product-content">
        <div fields-group-title>Контент</div>

        <div class="product__field field"
               *ngIf="variantForm.get('fullDescription') as fullDescription"
        >
          <label class="field__label" [for]="'desc-' + i">
            Описание
          </label>
          <span class="field__control">
            <quill-editor [formControl]="fullDescription" [strict]="false" [id]="'desc-' + i" [modules]="quillModules" (onBlur)="onDescriptionControlBlur($event, i)"></quill-editor>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('shortDescription') as shortDescription"
        >
          <label class="field__label" [for]="'s-desc-' + i">
            Короткое описание
          </label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="shortDescription" [id]="'s-desc-' + i"></textarea>
          </span>
        </div>
      </fields-group>

      <fields-group class="product__group" id="product-seo">
        <div fields-group-title>SEO</div>

        <div class="product__field field"
               *ngIf="variantForm.get('slug') as slug"
        >
          <label class="field__label" [for]="'slug-' + i">
            URL адрес
          </label>
          <span class="field__control">
            <input class="field__input" [formControl]="slug" [id]="'slug-' + i" type="text">
            <redirect-control *ngIf="!isNewProduct && !isNewProductBasedOn"
                              [formControl]="variantForm.get('createRedirect')"
                              [initialSlug]="product.variants[i]?.slug"
                              [newSlugControl]="slug"
            ></redirect-control>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.title') as metaTitle"
        >
          <label class="field__label" [for]="'metaTitle-' + i">
            Meta заголовок
          </label>
          <span class="field__control">
            <textarea class="field__input" [formControl]="metaTitle" [id]="'metaTitle-' + i"></textarea>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.description') as metaDescription"
        >
          <label class="field__label" [for]="'metaDesc-' + i">
            Meta описание
          </label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="metaDescription" [id]="'metaDesc-' + i"></textarea>
          </span>
        </div>

        <div class="product__field field"
               *ngIf="variantForm.get('metaTags.keywords') as metaKeywords"
        >
          <label class="field__label" [for]="'metaKeys-' + i">
            Meta ключевые слова
          </label>
          <span class="field__control">
            <textarea class="field__textarea" [formControl]="metaKeywords" [id]="'metaKeys-' + i"></textarea>
          </span>
        </div>
      </fields-group>

      <fields-group class="product__group" id="product-media">
        <div fields-group-title>Картинки и видео</div>

        <div class="product__field media" *ngIf="variantForm.get('medias') as mediasControl">
          <media-asset class="media__asset"
                       *ngFor="let media of mediasControl.value, index as i"
                       [media]="media"
                       [draggable-item]="media"
                       [class.media__asset--main]="i === 0 && mediasControl.value.length > 1"
                       (remove)="onMediaRemove(media, mediasControl)"
                       (dragged)="onMediaReorder(mediasControl, $event)"
                       draggable-item-type="media"
                       draggable-item-direction="horizontal"
          ></media-asset>

          <media-uploader class="media_asset"
                          [uploadUrl]="getMediaUploadUrl()"
                          (uploaded)="mediaUploaded($event, mediasControl)"
          ></media-uploader>

        </div>
      </fields-group>

      <fields-group class="product__group" id="product-related">
        <div fields-group-title>Сопутствующие товары</div>

        <div class="product__field">
          <linked-products [products]="product.variants[i].relatedProducts"
                           [type]="'related'"
                           (onChange)="onChangeRelatedProducts($event, i)"
          ></linked-products>
        </div>
      </fields-group>

      <fields-group class="product__group" id="product-cross">
        <div fields-group-title>Кросс-товары</div>

        <div class="product__field">
          <linked-products [products]="product.variants[i].crossSellProducts"
                           [type]="'cross-sell'"
                           (onChange)="onChangeCrossSellProducts($event, i)"
          ></linked-products>
        </div>
      </fields-group>

    </fields-group>

    <fields-group class="product__group" id="product-reviews">
      <div fields-group-title>
        Отзывы
        <span *ngIf="product.reviewsCount"> ({{ product.reviewsCount }} шт., средняя оценка - {{ product.reviewsAvgRating }})</span>
      </div>

      <reviews-viewer [productId]="product.id"></reviews-viewer>
    </fields-group>

  </form>
</div>

<preloader class="preloader" *ngIf="isLoading" [hasMargins]="false"></preloader>

<order-list-viewer-modal></order-list-viewer-modal>
