<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Товары
    </h1>

    <div class="header__toolbar">
      <app-button class="header__btn" (click)="copyProductsToClipboard()">Скопировать в буфер</app-button>
      <app-button class="header__btn" (click)="toggleOrderedFilters()" [ngSwitch]="isOrderedFiltersVisible">
        <ng-container *ngSwitchCase="true">Закрыть фильтр дат</ng-container>
        <ng-container *ngSwitchCase="false">Выбрать даты продаж</ng-container>
      </app-button>
      <app-button class="header__btn" (click)="downloadShoppingFeed()">Скачать Shopping Products feed</app-button>
      <app-button class="header__btn" (click)="downloadReviewsFeed()">Скачать Reviews feed</app-button>
      <button class="header__btn toolbar-main-btn" (click)="add()" type="button">Добавить товар</button>
    </div>
  </header>

  <div class="filters" *ngIf="isOrderedFiltersVisible">
      Показать товары, проданные с

      <input class="filters__date"
             [value]="orderedDates[0]"
             (change)="onOrderedDateSelect($event, 'from')"
             type="date"
      >

      по

      <input class="filters__date"
             [value]="orderedDates[1]"
             (change)="onOrderedDateSelect($event, 'to')"
             type="date"
      >
  </div>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="products"
        [itemsFiltered]="itemsFiltered"
        [linkUrlSuffix]="gridLinkUrl"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        (gridChange)="onGridChange($event)"
        trackByFieldName="id"
        linkFieldName="id"
        gridName="product-list"
  >
    <span grid-total-items>Всего товаров: {{ itemsTotal }}</span>
    <span grid-no-items>Товары не найдены</span>

    <ng-template #cellContent let-product="item">{{ product.skus }}</ng-template>
    <ng-template #cellContent let-product="item">
      <img class="product-thumbnail" [src]="getItemThumbnail(product)">
    </ng-template>
    <ng-template #cellContent let-product="item">{{ product.name[lang] }}</ng-template>
    <ng-template #cellContent let-product="item">
      <span class="small">{{ getItemCategories(product) }}</span>
    </ng-template>
    <ng-template #cellContent let-product="item">{{ product.vendorCodes }}</ng-template>
    <ng-template #cellContent let-product="item">{{ product.gtins }}</ng-template>
    <ng-template #cellContent let-product="item">
      <span class="small">{{ getManufacturerAttr(product) }}</span>
    </ng-template>
    <ng-template #cellContent let-product="item">{{ product.prices }} {{ product.currency | readableCurrency }}</ng-template>
    <ng-template #cellContent let-product="item">{{ product.quantitiesInStock }}</ng-template>
    <ng-template #cellContent let-product="item">{{ product.sellableQuantities }}</ng-template>
    <ng-template #cellContent let-product="item">{{ product.note }}</ng-template>
    <ng-template #cellContent let-product="item">
      <ng-container [ngSwitch]="product.isEnabled">
        <ng-container *ngSwitchCase="true">On</ng-container>
        <span class="product-disabled" *ngSwitchCase="false">Off</span>
      </ng-container>
    </ng-template>
    <ng-template #cellContent let-product="item">{{ product.salesCount }}</ng-template>
    <ng-template #cellContent let-product="item">
      <ng-container [ngSwitch]="product.isIncludedInShoppingFeed">
        <ng-container *ngSwitchCase="true">Да</ng-container>
        <ng-container *ngSwitchCase="false">Нет</ng-container>
      </ng-container>
    </ng-template>
    <ng-template #cellContent let-product="item">
      {{ product.createdAt | date:'dd.MM.y' }}
      <span class="product-time">{{ product.createdAt | date:'HH:mm:ss' }}</span>
    </ng-template>
    <ng-template #cellContent let-product="item">
      {{ product.updatedAt | date:'dd.MM.y' }}
      <span class="product-time">{{ product.updatedAt | date:'HH:mm:ss' }}</span>
    </ng-template>
  </grid>
</div>
