@import "variables";

.product-thumbnail {
  max-height: 40px;
}

.product-disabled {
  color: $red;
}

.small {
  font-size: 12px;
}

.product-time {
  width: 100%;
  display: block;
  margin: 3px 0 0;
  font-size: 13px;
  color: rgba($dark, 0.6);
}
