@import "variables";

.page {
  &__pagination {
    display: block;
    margin: 40px 0 0;
  }

  &__grid {
    margin: 20px 0 0;
  }
}

.product {
  &__id {
    width: 30px;
  }

  &__thumbnail {
    width: 95px;
    text-align: center;
  }

  &__thumbnail-img {
    max-height: 50px;
  }

  &__name {
    width: 500px;
    word-break: break-word;
  }

  &__sku {
    width: 70px;
  }

  &__price {
    width: 70px;
  }

  &__qty {
    width: 55px;
  }

  &__status {
    width: 70px;
  }
}
