<grid [cells]="gridCells"
      [itemsArray]="customers"
      [itemsFiltered]="itemsFiltered"
      [pagesTotal]="pagesTotal"
      [isLoading]="isGridLoading"
      (gridChange)="fetchCustomers($event)"
      (itemSelect)="selectCustomer($event)"
      trackByFieldName="id"
      size="small"
      gridName="customer-list"
>
  <span grid-total-items>Всего клиентов: {{ itemsTotal }}</span>
  <span grid-no-items>Клиенты не найдены</span>

  <ng-template #cellContent let-customer="item">{{ customer.id }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.firstName }} {{ customer.lastName }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.email }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.phoneNumber | normalizedPhone }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.addresses[0]?.city }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.createdAt | date }}</ng-template>
  <ng-template #cellContent let-customer="item">{{ customer.note }}</ng-template>
</grid>
