<div class="page" *ngIf="order">
  <div class="header">
    <h1 class="header__title">
      Заказ №{{ order?.id }}
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <app-button class="header__btn" (click)="cancelOrder()" type="button">
        Отменить заказ
      </app-button>
      <app-button class="header__btn" (click)="reorder()" type="button">
        Повторить заказ
      </app-button>
      <app-button class="header__btn" *ngIf="isStartOrderVisible()" (click)="startOrder()" type="button">
        Принять в работу
      </app-button>
      <app-button class="header__btn" *ngIf="isShipOrderVisible()" (click)="shipOrder()" type="button">
        Отправить заказ
      </app-button>
      <app-button class="header__btn" (click)="printOrder()" type="button">
        Распечатать PDF
      </app-button>
      <app-button class="header__btn" (click)="editOrder()" type="button">
        Редактировать
      </app-button>
    </div>
  </div>

  <div class="order-view" *ngIf="customer">
    <div class="order-view__subtitle">
      Заказ
    </div>
    <div class="order-view__block two-col">
      <div class="two-col__col info-table">
        <div class="info-table__row">
          <div class="info-table__block">Дата заказа</div>
          <div class="info-table__block">{{ order.createdDate | date }}</div>
        </div>
        <div class="info-table__row">
          <div class="info-table__block">Статус заказа</div>
          <div class="info-table__block">{{ order.status }}</div>
        </div>
        <div class="info-table__row">
          <div class="info-table__block">Оплачен ли товар поставщику</div>
          <div class="info-table__block"></div>
        </div>
      </div>

      <div class="two-col__col info-table">
        <div class="info-table__row">
          <div class="info-table__block">Комментарий менеджера</div>
          <div class="info-table__block">{{ order.adminNote }}</div>
        </div>
        <div class="info-table__row">
          <div class="info-table__block">Нужно ли связываться с клиентом для подтверждения заказа?</div>
          <div class="info-table__block">{{ order.isCallbackNeeded }}</div>
        </div>
        <div class="info-table__row">
          <div class="info-table__block">Комментарий клиента</div>
          <div class="info-table__block">{{ order.clientNote }}</div>
        </div>
      </div>
    </div>

    <div class="order-view__subtitle">
      Адрес
    </div>

    <div class="order-view__block">
      <div class="address-table">
        <div class="address-table__row">
          <div class="address-table__block address-table__block--name">Имя</div>
          <div class="address-table__block address-table__block--phone">Телефон</div>
          <div class="address-table__block address-table__block--city">Город</div>
          <div class="address-table__block address-table__block--post">Отд.</div>
          <div class="address-table__block address-table__block--street">Улица</div>
        </div>
        <div class="address-table__row address-table__row--value">
          <div class="address-table__block address-table__block--name">
            {{ order.address.firstName }} {{ order.address.lastName }}
            <div class="address-table__customer" *ngIf="order.address.firstName !== customer.firstName || order.address.lastName !== customer.lastName">
              ({{ customer.firstName }} {{ customer.lastName }})
            </div>
          </div>
          <div class="address-table__block address-table__block--phone">
            {{ order.address.phoneNumber }}
            <div class="address-table__customer" *ngIf="order.address.phoneNumber !== customer.phoneNumber">
              ({{ customer.phoneNumber }})
            </div>
          </div>
          <div class="address-table__block address-table__block--city">
            {{ order.address.city }}
          </div>
          <div class="address-table__block address-table__block--post">
            {{ order.address.novaposhtaOffice }}
          </div>
          <div class="address-table__block address-table__block--street">
            {{ order.address.streetName }}
          </div>
        </div>
      </div>
    </div>

    <div class="order-view__subtitle">
      Оплата и доставка
    </div>

    <div class="order-view__block two-col">
      <div class="two-col__col method">
        <div class="method__title">Способ оплаты</div>
        <div class="method__name">{{ order.paymentMethodClientName }}</div>
      </div>
      <div class="two-col__col method">
        <div class="method__title">Способ доставки</div>
        <div class="method__name">{{ order.shippingMethodClientName }}</div>
      </div>
    </div>

    <div class="order-view__subtitle">
      Товары в заказе
    </div>

    <div class="order-view__block">
      <table class="items-table">
        <thead>
          <tr class="items-table__row items-table__row--head">
            <td class="items-table__block items-table__block--img">Фото</td>
            <td class="items-table__block items-table__block--name">Название</td>
            <td class="items-table__block items-table__block--price">Цена</td>
            <td class="items-table__block items-table__block--qty">Кол-во</td>
            <td class="items-table__block items-table__block--cost">Стоимость</td>
            <td class="items-table__block items-table__block--discount">Скидка</td>
            <td class="items-table__block items-table__block--total">Итого</td>
          </tr>
        </thead>
        <tbody>
          <tr class="items-table__row"
               *ngFor="let item of order.items, even as even"
               [class.items-table__row--even]="even"
          >
            <td class="items-table__block items-table__block--img">
              <img class="items-table__img"
                   *ngIf="item.imageUrl"
                   [src]="'http://localhost:3500' + item.imageUrl">
            </td>
            <td class="items-table__block items-table__block--name">
              {{ item.name }}
            </td>
            <td class="items-table__block items-table__block--price">
              {{ item.price }} грн<ng-container *ngIf="item.price !== item.originalPrice"> ({{ item.originalPrice }} грн)</ng-container>
            </td>
            <td class="items-table__block items-table__block--qty">
              <div class="items-table__qty">{{ item.qty }}</div>
            </td>
            <td class="items-table__block items-table__block--cost">
              {{ item.cost }} грн
            </td>
            <td class="items-table__block items-table__block--discount">
              {{ item.discountValue }} грн
            </td>
            <td class="items-table__block items-table__block--total">
              {{ item.totalCost }} грн
            </td>
          </tr>
        </tbody>
      </table>
      <div class="total-order-cost">
        {{ order.orderTotalPrice }} грн
      </div>
    </div>
  </div>
</div>
