<div class="page">
  <div class="header">
    <h1 class="header__title" (click)="copyOrderIdToClipboard(order.id)">Заказ №{{ order?.id }}</h1>

    <div class="order-view__status" *ngIf="order?.statusDescription[lang] as statusDesc">{{ statusDesc }}</div>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>

      <ng-container *ngIf="order">
        <app-button class="header__btn" (click)="deleteOrder()" type="button" btnStyle="danger">
          Удалить заказ
        </app-button>
        <app-button class="header__btn" (click)="reorder()" type="button">
          Повторить заказ
        </app-button>
        <app-button class="header__btn" (click)="printInvoice()" type="button">
          PDF счета-фактуры
        </app-button>
        <app-button class="header__btn" (click)="printOrder()" type="button">
          PDF заказа
        </app-button>
        <app-button class="header__btn" *ngIf="isCancelOrderVisible()" (click)="cancelOrder()" type="button">
          Отменить заказ
        </app-button>
        <app-button class="header__btn" *ngIf="isEditOrderVisible()" (click)="editOrder()" type="button">
          Редактировать
        </app-button>

        <ng-container *ngIf="isReturnBtnsVisible()">
          <app-button class="header__btn" (click)="changeStatus(orderStatuses.REFUSED_TO_RETURN)" btnStyle="primary" type="button">
            Отказаться от возврата
          </app-button>
          <app-button class="header__btn" (click)="changeStatus(orderStatuses.RETURNING)" btnStyle="primary" type="button">
            Вернуть посылку
          </app-button>
        </ng-container>

        <app-button class="header__btn"
                    *ngIf="nextOrderStatus as nextStatus"
                    [ngSwitch]="nextStatus"
                    (click)="changeStatus(nextStatus)"
                    btnStyle="primary"
                    type="button"
        >
          <ng-container *ngSwitchCase="orderStatuses.PROCESSING">Принять в работу</ng-container>
          <ng-container *ngSwitchCase="orderStatuses.READY_TO_PACK">Готово к упаковке</ng-container>
          <ng-container *ngSwitchCase="orderStatuses.RETURNED">Посылка возвращена</ng-container>
        </app-button>

        <app-button class="header__btn"
                    *ngIf="isCreateInternetDocumentVisible()"
                    (click)="openShipmentInfo()"
                    btnStyle="primary"
                    type="button"
        >
          Накладная
        </app-button>
      </ng-container>
    </div>
  </div>

  <div class="order-view" *ngIf="customer">
    <div class="order-view__block">
      <div class="order-view__subtitle">
        Заказ
      </div>
      <div class="order-view__content">
        <div class="two-col__col info-table">
          <div class="info-table__row">
            <div class="info-table__block">Дата заказа</div>
            <div class="info-table__block">{{ order.createdAt | date:'medium' }}</div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Менеджер</div>
            <div class="field__control order-view__manager-container">
              <app-select class="order-view__manager"
                          [options]="managerSelectOptions"
                          [formControl] = "orderManagerControl"
              >
              </app-select>
            </div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Оплачен ли товар поставщику</div>
            <div class="info-table__block"></div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Клиент</div>
            <div class="info-table__block">
              <a class="order-view__client-link"
                 [routerLink]="['/', 'admin', 'customer', 'edit', order.customerId]"
                 target="_blank"
              >
                {{ order.customerFirstName }} {{ order.customerLastName }} ({{ order.customerEmail }})
              </a>
            </div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Комментарий о клиенте</div>
            <div class="info-table__block">{{ order.customerNote }}</div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Нужно ли связываться с клиентом для подтверждения заказа?</div>
            <div class="info-table__block">{{ order.isCallbackNeeded ? 'Да' : 'Нет' }}</div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Комментарий клиента к заказу</div>
            <div class="info-table__block">{{ order.clientNote }}</div>
          </div>
          <div class="info-table__row">
            <div class="info-table__block">Комментарий менеджера <a class="order-view__edit-btn" *ngIf="!adminNoteControl" (click)="openAdminNoteForm()">изменить</a></div>
            <div class="info-table__block">
              <div class="update-note" *ngIf="adminNoteControl; else adminNoteText">
                <textarea class="update-note__control field__textarea" [formControl]="adminNoteControl"></textarea>

                <button class="order-view__edit-btn" (click)="updateAdminNote()">
                  сохранить
                </button>

                <button class="order-view__edit-btn" (click)="closeAdminNoteForm()">
                  отменить
                </button>
              </div>

              <ng-template #adminNoteText>{{ order.adminNote }}</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-view__block">
      <div class="order-view__subtitle">
        Адрес

        <button class="order-view__edit-btn" (click)="openAddressForm()">
          изменить
        </button>
      </div>
      <div class="order-view__content order-view__address">
        {{ order.shippingMethodName[lang] }}<br><br>

        {{ order.shipment.recipient.firstName }} {{ order.shipment.recipient.lastName }}, {{ order.shipment.recipient.phone | normalizedPhone }}
        <br>
        {{ order.shipment.recipient.settlementFull || order.shipment.recipient.settlement }}, {{ order.shipment.recipient.addressFull || order.shipment.recipient.address }}<ng-container *ngIf="order.shipment.recipient.buildingNumber as buildingNumber">, {{ buildingNumber }} {{ order.shipment.recipient.flat }}</ng-container>
      </div>
    </div>

    <div class="order-view__block">
      <div class="order-view__subtitle">
        Оплата
      </div>
      <div class="order-view__content">
        <div class="two-col__col method">
          <div class="method__title">Способ оплаты</div>
          <div class="method__name">{{ order.paymentMethodAdminName[lang] }}</div>
          <div class="payment-status" *ngIf="isPaymentToggleVisible()">
            Заказ оплачен? <toggle class="payment-status__control" [formControl]="paymentStatusControl"></toggle>

            <div class="payment-status__error" *ngIf="paymentStatusError as error">
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-view__block">
      <div class="order-view__subtitle">
        Новая Почта

        <ng-container >
          <button class="order-view__edit-btn" *ngIf="!trackingIdControl" (click)="openTrackingIdForm()">
            изменить
          </button>

          <button class="order-view__edit-btn" *ngIf="order.shipment.trackingNumber && !trackingIdControl" (click)="updateShipmentStatus()">
            обновить статус
          </button>
        </ng-container>
      </div>
      <div class="order-view__content">
        <div class="tracking">
          <div class="tracking__control" *ngIf="trackingIdControl; else trackingIdTmpl">
            <input class="tracking__input" [formControl]="trackingIdControl" type="text" autofocus>

            <button class="order-view__edit-btn" (click)="updateTrackingId()">
              сохранить
            </button>

            <button class="order-view__edit-btn" (click)="closeTrackingIdForm()">
              отменить
            </button>
          </div>

          <ng-template #trackingIdTmpl>
            <span class="order-view__no-tracking-number" *ngIf="!order.shipment.trackingNumber; else hasNumberTmpl">
              - Нет номера ТТН -
            </span>

            <ng-template #hasNumberTmpl>
              {{ order.shipment.trackingNumber }}. {{ order.shipment.statusDescription }}<span *ngIf="isDeliveryDateVisible && order.shipment.estimatedDeliveryDate as date">. Ориентировочная дата прибытия: <b>{{ date }}</b></span>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="order-view__block order-view__block--wide">
      <div class="order-view__subtitle">
        Товары в заказе
      </div>
      <div class="order-view__content order-view__content--wide">
        <table class="items-table">
          <thead>
            <tr class="items-table__row items-table__row--head">
              <td class="items-table__block items-table__block--img">Фото</td>
              <td class="items-table__block items-table__block--name">Название</td>
              <td class="items-table__block items-table__block--sku">Код</td>
              <td class="items-table__block items-table__block--vendor">Артикул</td>
              <td class="items-table__block items-table__block--vendor">Доп. услуги</td>
              <td class="items-table__block items-table__block--price">Цена</td>
              <td class="items-table__block items-table__block--qty">Кол-во</td>
              <td class="items-table__block items-table__block--cost">Стоимость</td>
            </tr>
          </thead>
          <tbody>
            <tr class="items-table__row"
                 *ngFor="let item of order.items, even as even"
                 [class.items-table__row--even]="even"
            >
              <td class="items-table__block items-table__block--img">
                <img class="items-table__img" [src]="getItemThumbnail(item)">
              </td>
              <td class="items-table__block items-table__block--name">
                <a class="items-table__link" [routerLink]="['/', 'admin', 'product', 'edit', item.productId]" target="_blank">
                  {{ item.name[lang] }}
                </a>
              </td>
              <td class="items-table__block items-table__block--sku">
                {{ item.sku }}
              </td>
              <td class="items-table__block items-table__block--vendor">
                {{ item.vendorCode }}
              </td>
              <td class="items-table__block items-table__block--additional-services">
                <div *ngFor="let service of item.additionalServices">
                  {{ service.name[lang] }} (+{{ service.price }}грн)
                </div>
              </td>
              <td class="items-table__block items-table__block--price">
                {{ item.price }} грн
              </td>
              <td class="items-table__block items-table__block--qty">
                <div class="items-table__qty">{{ item.qty }}</div>
              </td>
              <td class="items-table__block items-table__block--cost">
                {{ item.cost }} грн
              </td>
            </tr>
          </tbody>
        </table>

        <div class="order-view__summary-block">
          <div class="order-view__summary summary">
            <div class="summary__row">
              <div class="summary__block">Стоимость товаров</div>
              <div class="summary__block">{{ order.prices.itemsCost }} грн</div>
            </div>
            <div class="summary__row">
              <div class="summary__block">
                Скидка
                <ng-container *ngIf="order.prices.discountPercent as discountPercent">
                  <br> ({{ order.prices.discountLabel[lang] }}, {{ discountPercent }}%)
                </ng-container>
              </div>
              <div class="summary__block">
                -{{ order.prices.discountValue }} грн
              </div>
            </div>
            <div class="summary__row">
              <div class="summary__block">Итого</div>
              <div class="summary__block">{{ order.prices.totalCost }} грн</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-view__block order-view__block--no-border order-view__block--wide">
      <div class="order-view__logs log" *ngFor="let log of order.logs">
        <div class="log__data">{{ log.time | date: 'dd.MM.y HH:mm:ss' }} - {{ log.text }}</div>
      </div>
      <div class="order-view__finish-order">
        <app-button *ngIf="isFinishOrderVisible()" (click)="finishOrder()">
          Завершить заказ
        </app-button>
      </div>
    </div>
  </div>
</div>

<div class="address-form" *ngIf="isAddressFormVisible">
  <div class="modal-overlay" (click)="closeAddressForm()"></div>
  <div class="modal address-form__modal">
    <div class="modal__header">
      <div class="modal__title">
        Изменить адрес
      </div>
      <div class="modal__close" (click)="closeAddressForm()">
        <i class="ai ai-multiply modal__close-icon"></i>
      </div>
    </div>

    <div class="modal__content">
      <address-form class="address-form__form" [address]="order.shipment.recipient" [showIsDefault]="false"></address-form>

      <div class="address-form__submit-container">
        <app-button class="address-form__submit" (click)="submitAddressForm()" btnStyle="primary">
          Сохранить
        </app-button>
      </div>
    </div>
  </div>
</div>

<shipment-info-modal *ngIf="order"
                     [shipment]="order.shipment"
                     [cost]="order.prices.totalCost"
                     [setBackwardDeliveryAsCost]="isCashOnDelivery()"
                     (infoSubmit)="onShipmentInfoSubmit($event)"
                     (trackingId)="onTrackingIdSubmit($event)"
></shipment-info-modal>

<preloader class="preloader" *ngIf="!customer || isLoading" [hasMargins]="false"></preloader>
