<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Клиенты
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-main-btn" (click)="add()">Добавить клиента</button>
    </div>
  </header>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="customers"
        [itemsFiltered]="itemsFiltered"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        (gridChange)="fetchCustomers($event)"
        [linkFieldName]="idFieldName"
        linkUrlSuffix="edit"
        trackByFieldName="id"
        gridName="customer-list"
  >
    <span grid-total-items>Всего клиентов: {{ itemsTotal }}</span>
    <span grid-no-items>Клиенты не найдены</span>

    <ng-template #cellContent let-customer="item">{{ customer.id }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.firstName }} {{ customer.lastName }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.email }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.phoneNumber | beautifyPhone }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.addresses[0]?.city }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.createdAt | date }}</ng-template>
    <ng-template #cellContent let-customer="item">{{ customer.note }}</ng-template>
  </grid>
</div>
