@import "variables";

.list-info {
  display: flex;
  align-items: center;

  &__pagination {
    margin: 0 0 0 auto;
  }
}

.customer {
  &__id {
    width: 30px;
    justify-content: center;
  }

  &__name {
    width: 300px;
  }

  &__email {
    width: 150px;
  }

  &__phone {
    width: 100px;
  }

  &__city {
    width: 100px;
  }

  &__create-date {
    width: 100px;
  }

  &__note {
    width: 150px;
  }
}
