<div class="products">

  <preloader *ngIf="isLoading" [hasOverlay]="true" [hasMargins]="true"></preloader>

  <div class="no-products" *ngIf="!items?.length">
    Не найдено ни одного товара
  </div>

  <div class="product"
       *ngFor="let product of items"
       [draggable-item]="product"
       [draggable-item-type]="itemsType"
       draggable-item-direction="horizontal"
       (dragged)="onReorder($event)"
  >
    <div class="product__sort"
         [class.product__sort--fixed]="product.isSortOrderFixed"
         (click)="onSortClick(product)"
    >
      {{ product.sortOrder }}
    </div>

    <button class="product__remove" *ngIf="hasRemoveBtn" (click)="onRemove(product)">
      <i class="ai ai-trash"></i>
    </button>

    <img class="product__img" [src]="setItemThumbnail(product)" draggable="false">

    <a class="product__name"
       [routerLink]="['/', 'admin', 'product', 'edit', product.id]"
       target="_blank"
       draggable="false"
    >
      {{ product.name }}
    </a>
  </div>
</div>
