<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Отзывы о магазине
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-main-btn" (click)="add()">Добавить отзыв</button>
    </div>
  </header>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="storeReviews"
        [itemsFiltered]="itemsFiltered"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        (gridChange)="fetchStoreReviews($event)"
        [linkFieldName]="idFieldName"
        linkUrlSuffix="edit"
        trackByFieldName="id"
        gridName="store-review-list"
  >
    <span grid-total-items>Всего отзывов: {{ itemsTotal }}</span>
    <span grid-no-items>Отзывы не найдены</span>

    <ng-template #cellContent let-storeReview="item">{{ storeReview.createdAt | date }}</ng-template>
    <ng-template #cellContent let-storeReview="item">{{ storeReview.name }}</ng-template>
    <ng-template #cellContent let-storeReview="item">{{ storeReview.text }}</ng-template>
    <ng-template #cellContent let-storeReview="item">{{ storeReview.isEnabled ? 'Включен' : 'Выключен' }}</ng-template>
    <ng-template #cellContent let-storeReview="item">{{ storeReview.managerComment }}</ng-template>
  </grid>
</div>
