@import "variables";

.preloader {
  margin: 15vh 0 0;
}

.additional-service {
  margin: 40px 0 0;

  &__field {
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__products {
    position: relative;
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
  }
}
