@import "variables";

.review {
  display: block;

  &:not(:last-child) {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #eee;
  }

  &__name {
    font-weight: 600;
  }

  &__rating {
    display: block;
    margin: 4px 0 0;
  }

  &__text {
    margin: 4px 0 0;
    font-style: italic;
  }
}

.no-reviews {
  padding: 20px;
  color: rgba($dark, 0.8);
}
