<div class="no-reviews" *ngIf="!reviews.length">
  Нет отзывов
</div>

<a class="review"
   *ngFor="let review of reviews"
   [routerLink]="['/admin/product-review/edit', review.id]"
   target="_blank"
>
  Отзыв от <span class="review__name">{{ review.name }}</span>:

  <rating-selector class="review__rating" [(ngModel)]="review.rating" [disabled]="true" size="small"></rating-selector>

  <div class="review__text">{{ review.text }}</div>

  <span class="review__disabled" *ngIf="review.isEnabled === false">ВЫКЛЮЧЕН</span>
</a>
