<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewStoreReview">
      <ng-container *ngSwitchCase="true">
        Новый отзыв о магазине
      </ng-container>

      <ng-container *ngSwitchCase="false">
        Отзыв о магазине от {{ storeReview?.name }}
      </ng-container>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="!isNewStoreReview" (click)="delete()" type="button">
        Удалить
      </button>
      <button class="header__btn toolbar-main-btn" (click)="save()" type="button">Сохранить</button>
    </div>
  </div>

  <form class="store-review" *ngIf="reviewForm; else preloaderTmpl" [formGroup]="reviewForm">

    <div class="store-review__field field"
         *ngIf="reviewForm.get('isEnabled') as isEnabled"
         [class.field--invalid]="isControlInvalid(isEnabled)"
    >
      <label class="field__label">Включить отзыв</label>
      <div class="field__control">
        <toggle [formControl]="isEnabled"></toggle>
      </div>
    </div>

    <div class="store-review__field field field--required"
         *ngIf="reviewForm.get('name') as name"
         [class.field--invalid]="isControlInvalid(name)"
    >
      <label for="name" class="field__label">Имя</label>
      <span class="field__control">
        <input class="field__input" [formControl]="name" type="text" id="name">
      </span>
    </div>

    <div class="store-review__field field field--required"
         *ngIf="reviewForm.get('text') as text"
         [class.field--invalid]="isControlInvalid(text)"
    >
      <label for="text" class="field__label">Текст</label>
      <span class="field__control">
        <textarea class="field__input" [formControl]="text" type="text" id="text"></textarea>
      </span>
    </div>

    <div class="store-review__field field"
         *ngIf="reviewForm.get('email') as email"
         [class.field--invalid]="isControlInvalid(email)"
    >
      <label for="email" class="field__label">Email</label>
      <span class="field__control">
        <input class="field__input" [formControl]="email" type="email" id="email">
      </span>
    </div>

    <div class="store-review__field field field--required"
         *ngIf="reviewForm.get('rating') as rating"
         [class.field--invalid]="isControlInvalid(rating)"
    >
      <div class="field__label">Оценка</div>
      <span class="field__control">
        <rating-selector [formControl]="rating"></rating-selector>
      </span>
    </div>

    <div class="store-review__field field"
         *ngIf="reviewForm.get('sortOrder') as sortOrder"
         [class.field--invalid]="isControlInvalid(sortOrder)"
    >
      <label for="sortOrder" class="field__label">Сортировка</label>
      <span class="field__control">
        <input class="field__input" [formControl]="sortOrder" type="number" id="sortOrder">
      </span>
    </div>

    <div class="store-review__field field"
         *ngIf="reviewForm.get('createdAt') as createdAt"
         [class.field--invalid]="isControlInvalid(createdAt)"
    >
      <label for="createdAt" class="field__label">Время</label>
      <span class="field__control">
        <input class="field__input" [formControl]="createdAt" type="datetime-local" id="createdAt" step="1">
      </span>
    </div>

    <div class="store-review__field field"
         *ngIf="reviewForm.get('managerComment') as managerComment"
         [class.field--invalid]="isControlInvalid(managerComment)"
    >
      <label for="managerComment" class="field__label">Ответ менеджера</label>
      <span class="field__control">
        <textarea class="field__input" [formControl]="managerComment" type="text" id="managerComment"></textarea>
      </span>
    </div>

    <div class="store-review__field field">
      <div class="field__label">Картинки и видео</div>

      <div class="field__control media" *ngIf="reviewForm.get('medias') as medias">
        <media-asset class="media__asset"
                     *ngFor="let media of medias.value"
                     [media]="media"
                     (remove)="onMediaRemove(media)"
        ></media-asset>

        <media-uploader class="media_asset"
                        [uploadUrl]="getMediaUploadUrl()"
                        (uploaded)="mediaUploaded($event, medias)"
        ></media-uploader>
      </div>
    </div>

  </form>

  <ng-template #preloaderTmpl>
    <preloader class="preloader" [hasOverlay]="false"></preloader>
  </ng-template>

</div>
