<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewOrder">
      <ng-container *ngSwitchCase="true">
        Новый заказ<ng-container *ngIf="customer"> для <ng-container *ngIf="!isNewCustomer; else newCustomerText">{{ customer.firstName }} {{ customer.lastName }}</ng-container></ng-container>
        <ng-template #newCustomerText>нового клиента</ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        #{{ order?.id }}
      </ng-container>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" *ngIf="isNewOrder && !customer" (click)="navigateToOrderList()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="customer" (click)="cancelEdit()" type="button">
        Отменить
      </button>
      <button class="header__btn toolbar-main-btn" (click)="placeOrder()" type="button">Разместить заказ</button>
    </div>
  </div>

  <ng-template #customerTmpl>
    <div class="customer">
      <div class="order__subtitle">
        Пожалуйста, выберите клиента

        <app-button class="order__subtitle-button" (click)="createNewCustomer()" [btnSize]="'small'">
          Создать нового клиента
        </app-button>
      </div>

      <customer-selector class="order__customer-selector"
                         (selected)="selectCustomer($event)"
      ></customer-selector>
    </div>
  </ng-template>

  <div class="order" *ngIf="customer; else customerTmpl">

    <div class="order__subtitle">
      Товары в заказе

      <app-button class="order__subtitle-button" (click)="showProductSelector()" [btnSize]="'small'">
        Добавить товары
      </app-button>
    </div>

    <div class="grid">
      <div class="grid__container">
        <div class="order-item order-item--head">
          <div class="grid__block grid__block--head order-item__name">
            Название
          </div>
          <div class="grid__block grid__block--head order-item__price">
            Цена
          </div>
          <div class="grid__block grid__block--head order-item__qty">
            Кол-во
          </div>
          <div class="grid__block grid__block--head order-item__cost">
            Стоимость
          </div>
          <div class="grid__block grid__block--head order-item__discount">
            Скидка
          </div>
          <div class="grid__block grid__block--head order-item__total-cost">
            Общая стоимость
          </div>
          <div class="grid__block grid__block--head order-item__remove">
          </div>
        </div>

        <div class="order-item order-item--no-items" *ngIf="!order.items.length; else itemsTmpl">
          Выберите товары
        </div>

        <ng-template #itemsTmpl>
          <div class="grid__row order-item" *ngFor="let orderItem of order.items, index as i">
            <div class="grid__block order-item__name">
              {{ orderItem.name }}
              <div class="order-item__sku">
                SKU: {{ orderItem.sku }}
              </div>
            </div>
            <div class="grid__block order-item__price">
              {{ orderItem.price }} грн
            </div>
            <div class="grid__block order-item__qty">
              <input class="order-item__qty-input"
                     [value]="orderItem.qty"
                     (blur)="onOrderItemQtyBlur($event.target, orderItem)"
                     numberInput
                     min="1"
                     type="number"
              >
            </div>
            <div class="grid__block order-item__cost">
              {{ orderItem.cost }} грн
            </div>
            <div class="grid__block order-item__discount">
              {{ getOrderItemDiscountValue(orderItem) }} грн ({{ orderItem.discountPercent }}%)
            </div>
            <div class="grid__block order-item__total-cost">
              {{ orderItem.totalCost }} грн
            </div>
            <div class="grid__block order-item__remove">
              <div class="order-item__remove-btn" (click)="removeOrderItem(i)">
                Убрать
              </div>
            </div>
          </div>
        </ng-template>

        <div class="order-item order-item--footer">
          <div class="grid__block grid__block--footer order-item__name">
            Всего товаров: {{ order.items.length }}
          </div>
          <div class="grid__block grid__block--footer order-item__price">
          </div>
          <div class="grid__block grid__block--footer order-item__qty">
          </div>
          <div class="grid__block grid__block--footer order-item__cost">
            {{ orderItemsCost }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__discount">
            {{ orderItemsDiscount }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__total-cost">
            {{ orderItemsTotalCost }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__remove">
          </div>
        </div>
      </div>
    </div>

    <div class="order__subtitle">
      Информация для связи
    </div>

    <div class="order__block">
      <div class="order__field field">
        <label for="email" class="field__label">Email</label>
        <span class="field__control">
          <input class="field__input" [(ngModel)]="order.customerEmail" type="text" id="email">
        </span>
      </div>

      <div class="order__field field">
        <label for="phoneNumber" class="field__label">Телефон</label>
        <span class="field__control">
          <input class="field__input" [(ngModel)]="order.customerPhoneNumber" type="text" id="phoneNumber">
        </span>
      </div>
    </div>

    <div class="order__subtitle">
      Доп. информация
    </div>

    <div class="order__block">
      <div class="order__field field">
        <label for="adminNote" class="field__label">Комментарий админа</label>
        <span class="field__control">
          <input class="field__input" [(ngModel)]="order.adminNote" type="text" id="adminNote">
        </span>
      </div>

      <div class="order__field field">
        <label for="clientNote" class="field__label">Комментарий клиента</label>
        <span class="field__control">
          <input class="field__input" [(ngModel)]="order.clientNote" type="text" id="clientNote">
        </span>
      </div>

      <div class="order__field field">
        <label class="field__label" for="isCallbackNeeded">Нужно ли связываться с клиентом для уточнения заказа?</label>
        <div class="field__control">
          <label class="switcher">
            <input class="switcher__input"
                   [(ngModel)]="order.isCallbackNeeded"
                   type="checkbox"
                   id="isCallbackNeeded"
            >
            <span class="switcher__control" [class.switcher__control--active]="order.isCallbackNeeded"></span>
            <span class="switcher__description">
              <ng-container *ngIf="order.isCallbackNeeded; else isEnabledFalseText">Да</ng-container>
              <ng-template #isEnabledFalseText>Нет</ng-template>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="order__subtitle">
      Информация об адресе
    </div>

    <div class="order__block">
      <div class="field">
        <div class="field__label">
          Выбрать адрес из существующих:
        </div>
        <div class="field__control">
          <app-select class="order__address-selector"
                      [options]="addressSelectOptions"
                      [initialValue]="order.address"
                      (select)="onAddressSelect($event)"
          >
          </app-select>
        </div>
      </div>

      <address-form class="order__address"
                    [address]="order.address"
                    [showIsDefault]="false"
      ></address-form>
    </div>

    <div class="order__subtitle">
      Доставка и оплата
    </div>

    <div class="order__block order__shipping-payment">
      <shipping-method-selector class="order__method"
                                [activeId]="order.shippingMethodId"
                                (selected)="onShippingMethodSelect($event)"
      ></shipping-method-selector>

      <payment-method-selector class="order__method"
                               [activeId]="order.paymentMethodId"
                               (selected)="onPaymentMethodSelect($event)"
      ></payment-method-selector>
    </div>

    <div class="order__subtitle">
      Итого
    </div>

    <div class="order__block order__summary-block">
      <div class="order__summary summary">
        <div class="summary__row">
          <div class="summary__block">Стоимость товаров</div>
          <div class="summary__block">{{ orderItemsCost }} грн</div>
        </div>
        <div class="summary__row">
          <div class="summary__block">Скидка</div>
          <div class="summary__block">{{ orderItemsDiscount }} грн</div>
        </div>
        <div class="summary__row">
          <div class="summary__block">Итого к оплате</div>
          <div class="summary__block">{{ orderItemsTotalCost }} грн</div>
        </div>

        <app-button class="summary__place-order"
                    (click)="placeOrder()"
                    btnStyle="primary"
                    btnSize="big"
        >
          Разместить заказ
        </app-button>
      </div>
    </div>

  </div>

</div>

<product-selector (selected)="onProductSelect($event)"></product-selector>
