<div class="page">
  <div class="header">
    <h1 class="header__title">
      <ng-container *ngIf="isEditOrder; else newOrderTitle">
        Редактирование заказа #{{ order?.id }}
      </ng-container><ng-container *ngIf="customer"> для <ng-container *ngIf="!isNewCustomer; else newCustomerText">{{ customer.firstName }} {{ customer.lastName }}</ng-container></ng-container>

      <ng-template #newOrderTitle>Новый заказ</ng-template>

      <ng-template #newCustomerText>нового клиента</ng-template>

    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" *ngIf="isNewOrder && !customer" (click)="navigateToOrderList()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="customer" (click)="cancelEdit()" type="button">
        Отменить
      </button>
      <button class="header__btn toolbar-main-btn" *ngIf="customer" (click)="placeOrder()" type="button">
        Разместить заказ
      </button>
    </div>
  </div>

  <ng-template #customerTmpl>
    <div class="customer">
      <div class="order__subtitle">
        Пожалуйста, выберите клиента

        <app-button class="order__subtitle-button" (click)="createNewCustomer()" [btnSize]="'small'">
          Создать нового клиента
        </app-button>
      </div>

      <customer-selector class="order__customer-selector"
                         (selected)="selectCustomer($event)"
      ></customer-selector>
    </div>
  </ng-template>

  <div class="order" *ngIf="customer; else customerTmpl">

    <div class="order__subtitle">
      Товары в заказе

      <app-button class="order__subtitle-button" (click)="showProductSelector()" [btnSize]="'small'">
        Добавить товары
      </app-button>
    </div>

    <div class="grid">
      <div class="grid__container">
        <div class="order-item order-item--head">
          <div class="grid__block grid__block--head order-item__img-block">
            Фото
          </div>
          <div class="grid__block grid__block--head order-item__name">
            Название
          </div>
          <div class="grid__block grid__block--head order-item__price">
            Цена
          </div>
          <div class="grid__block grid__block--head order-item__qty">
            Кол-во
          </div>
          <div class="grid__block grid__block--head order-item__cost">
            Стоимость
          </div>
          <div class="grid__block grid__block--head order-item__discount">
            Скидка
          </div>
          <div class="grid__block grid__block--head order-item__total-cost">
            Общая стоимость
          </div>
          <div class="grid__block grid__block--head order-item__remove">
          </div>
        </div>

        <div class="order-item order-item--no-items" *ngIf="!order.items.length; else itemsTmpl">
          Выберите товары
        </div>

        <ng-template #itemsTmpl>
          <div class="grid__row order-item" *ngFor="let orderItem of order.items, index as i">
            <div class="grid__block order-item__img-block">
              <img class="order-item__img" *ngIf="orderItem.imageUrl" [src]="uploadedHost + orderItem.imageUrl">
            </div>
            <div class="grid__block order-item__name">
              {{ orderItem.name }}
              <div class="order-item__sku">
                SKU: {{ orderItem.sku }}
              </div>
            </div>
            <div class="grid__block order-item__price">
              {{ orderItem.price }} грн
            </div>
            <div class="grid__block order-item__qty">
              <input class="order-item__number-input"
                     [value]="orderItem.qty"
                     (blur)="onOrderItemQtyBlur($event.target, orderItem)"
                     numberInput
                     min="1"
                     type="number"
              >
            </div>
            <div class="grid__block order-item__cost">
              {{ orderItem.cost }} грн
            </div>
            <div class="grid__block order-item__discount">
              <input class="order-item__number-input order-item__number-input--discount"
                     [(ngModel)]="orderItem.discountValue"
                     numberInput
                     min="0"
                     type="number"
              > грн
            </div>
            <div class="grid__block order-item__total-cost">
              {{ orderItem.totalCost }} грн
            </div>
            <div class="grid__block order-item__remove">
              <div class="order-item__remove-btn" (click)="removeOrderItem(i)">
                Убрать
              </div>
            </div>
          </div>
        </ng-template>

        <div class="order-item order-item--footer">
          <div class="grid__block grid__block--footer order-item__img-block">
          </div>
          <div class="grid__block grid__block--footer order-item__name">
            Всего товаров: {{ order.items.length }}
          </div>
          <div class="grid__block grid__block--footer order-item__price">
          </div>
          <div class="grid__block grid__block--footer order-item__qty">
          </div>
          <div class="grid__block grid__block--footer order-item__cost">
            {{ orderItemsCost }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__discount">
            {{ orderItemsDiscount }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__total-cost">
            {{ orderItemsTotalCost }} грн
          </div>
          <div class="grid__block grid__block--footer order-item__remove">
          </div>
        </div>
      </div>
    </div>

    <div class="order__subtitle">
      Информация для связи
    </div>

    <div class="order__block">
      <ng-container *ngIf="isNewCustomer">
        <div class="order__field field">
          <label for="email" class="field__label">Email</label>
          <span class="field__control">
          <input class="field__input" [(ngModel)]="order.customerEmail" type="text" id="email">
        </span>
        </div>

        <div class="order__field field">
          <label for="phoneNumber" class="field__label">Телефон</label>
          <span class="field__control">
          <input class="field__input" [(ngModel)]="order.customerPhoneNumber" type="text" id="phoneNumber">
        </span>
        </div>
      </ng-container>

      <ng-container *ngIf="!isNewCustomer">
        Email клиента: <b>{{ order.customerEmail }}</b><span *ngIf="order.customerPhoneNumber as phone">, номер телефона: <b>{{ phone }}</b></span>
      </ng-container>
    </div>

    <div class="order__subtitle">
      Информация об адресе
    </div>

    <div class="order__block">
      <div class="order__addresses-deprecated" *ngIf="customer.deprecatedAddresses?.length">
        <div class="order__addresses-deprecated-title">
          Старые адреса этого покупателя:
        </div>
        <ng-container *ngFor="let deprecatedAddress of customer.deprecatedAddresses">
          {{ deprecatedAddress }}
          <br>
        </ng-container>
      </div>
      <div class="field" *ngIf="!isNewCustomer && addressSelectOptions.length > 1">
        <div class="field__label">
          Выбрать адрес из существующих:
        </div>
        <div class="field__control">
          <app-select class="order__address-selector"
                      [options]="addressSelectOptions"
                      [formControl]="addressSelectControl"
          >
          </app-select>
        </div>
      </div>

      <address-form class="order__address"
                    [address]="order.shipment.recipient"
                    [showIsDefault]="false"
      ></address-form>

      <div class="field order__address-save-container" *ngIf="isNewAddress">
        <div class="field__label"></div>
        <label class="field__control">
          <input class="order__address-save"
                 [(ngModel)]="order.shouldSaveAddress"
                 type="checkbox"
          >

          Сохранить в адресную книгу клиента?
        </label>
      </div>
    </div>

    <div class="order__subtitle">
      Оплата
    </div>

    <div class="order__block order__shipping-payment">
      <payment-method-selector class="order__method"
                               [activeId]="order.paymentMethodId"
                               (selected)="onPaymentMethodSelect($event)"
      ></payment-method-selector>
    </div>

    <div class="order__subtitle">
      Доп. информация
    </div>

    <div class="order__block">
      <div class="order__field field">
        <label for="adminNote" class="field__label">Комментарий менеджера</label>
        <span class="field__control">
          <input class="field__input" [(ngModel)]="order.adminNote" type="text" id="adminNote">
        </span>
      </div>
    </div>

    <div class="order__subtitle">
      Итого
    </div>

    <div class="order__block order__summary-block">
      <div class="order__summary summary">
        <div class="summary__row">
          <div class="summary__block">Стоимость товаров</div>
          <div class="summary__block">{{ orderItemsCost }} грн</div>
        </div>
        <div class="summary__row">
          <div class="summary__block">Скидка</div>
          <div class="summary__block">{{ orderItemsDiscount }} грн ({{ customer.discountPercent }}%)</div>
        </div>
        <div class="summary__row">
          <div class="summary__block">Итого к оплате</div>
          <div class="summary__block">{{ orderItemsTotalCost }} грн</div>
        </div>

        <app-button class="summary__place-order"
                    (click)="placeOrder()"
                    btnStyle="primary"
                    btnSize="big"
        >
          Разместить заказ
        </app-button>
      </div>
    </div>

  </div>

</div>

<product-selector [showQty]="true" (selected)="onProductSelect($event)"></product-selector>

<preloader class="preloader" *ngIf="isLoading" [hasMargins]="false"></preloader>
