@import "variables";
@import "mixins";
$lightBorderColor: rgba(173, 173, 173, 0.25);
$darkerBorderColor: rgba(173, 173, 173, 0.7);

.flex {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 38%;
    margin-right: 10px;

    @include respond-to-less-than($media_max-content-width) {
      width: 100%;
    }

    &--wider {
      width: 60%;

      @include respond-to-less-than($media_max-content-width) {
        width: 100%;
      }
    }
  }
}

.order {

  &__container {
    padding-top: 15px;
  }

  &__block-container {
    margin: 15px 3px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 0 4px 0 #c8c8c8;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 0 4px 0 #a7a7a7;
    }
  }

  &__subtitle {
    width: 90%;
    margin: 0 auto;
    padding: 5px 10px 15px;
    border-bottom: 1px solid $lightBorderColor;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
    font-weight: 500;

    &--customer {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__block {
    margin: 30px 0 0;
  }

  &__addresses-deprecated {
    margin: 0 0 30px;
  }
  &__addresses-deprecated-title {
    margin: 0 0 7px;
    color: rgba($dark, 0.6);
    font-size: 13px;
  }

  &__customer-selector {
    display: block;
    margin: 30px 0 0;
  }

  &__address-selector {
    display: inline-block;
    width: 300px;
  }

  &__address-save-container {
    margin: 20px 0 0;
  }

  &__address-save {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }

  &__field {
    margin: 30px 0 0;
  }

  &__address {
    margin: 30px 0 0;
  }

  &__shipping-payment {
    margin: 30px 0 0;
    padding: 0 30px;
    display: flex;
  }

  &__method {
    width: 50%;
    padding: 0 30px 0 0;
  }

  &__summary-block {
    display: flex;
    justify-content: flex-end;
  }

  &__summary {
    width: 40%;
  }

  &__contacts {
    padding-left: 30px;
    line-height: 1.3;
  }
}

.grid {
  &__block {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    &--head,
    &--footer {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.order-item {
  font-size: 13px;

  &--head,
  &--footer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $darkerBorderColor;
    font-weight: 500;
  }

  &--footer {
    background: #f3f3f3;
  }

  &--no-items {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  &__img-block {
    width: 5%;
  }

  &__name {
    width: 40%;
    flex-wrap: wrap;
  }

  &__sku {
    width: 100%;
    margin: 7px 0 0;
  }

  &__price {
    width: 9%;
  }

  &__qty {
    width: 9%;
  }

  &__number-input {
    width: 40px;
    padding: 6px 0 5px 8px;
    border: 1px solid $borderColor;

    &--discount {
      width: 50px;
      margin-right: 3px;
    }
  }

  &__cost {
    width: 9%;
  }

  &__discount {
    width: 9%;
  }

  &__total-cost {
    width: 9%;
  }

  &__remove {
    width: 10%;
  }

  &__remove-btn {
    color: $blue;
    text-decoration: underline;
  }
}

.summary {
  width: 400px;
  text-align: right;

  &__row {
    display: flex;

    &:nth-child(2n) {
      background: $controlBg;
    }
  }

  &__block {
    padding: 5px 10px;
    font-size: 16px;

    &:first-child {
      width: 70%;
      text-align: left;
    }

    &:last-child {
      width: 30%;
    }
  }

  &__place-order {
    margin: 15px 0 0;
  }
}

.preloader {
  top: initial;
  bottom: 15vh;
  position: fixed;
  z-index: 21;
}
