@import "variables";

.order {
  &__subtitle {
    margin: 60px 0 0;
    padding: 0 10px 10px;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
  }

  &__block {
    margin: 30px 0 0;
  }

  &__customer-selector {
    display: block;
    margin: 30px 0 0;
  }

  &__address-selector {
    display: inline-block;
    width: 300px;
  }

  &__address-save-container {
    margin: 20px 0 0;
  }

  &__address-save {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }

  &__field {
    margin: 30px 0 0;
  }

  &__address {
    margin: 30px 0 0;
  }

  &__shipping-payment {
    margin: 30px 0 0;
    padding: 0 30px;
    display: flex;
  }

  .order__method {
    width: 50%;
    padding: 0 30px 0 0;
  }

  &__summary-block {
    display: flex;
    justify-content: flex-end;
  }

  &__summary {
    width: 40%;
  }
}

.grid {
  &__block {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    &--head,
    &--footer {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.order-item {
  font-size: 13px;

  &--head,
  &--footer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borderColor;
    font-weight: 500;
  }

  &--footer {
    background: #f3f3f3;
  }

  &--no-items {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  &__img-block {
    width: 5%;
  }

  &__name {
    width: 40%;
    flex-wrap: wrap;
  }

  &__sku {
    width: 100%;
    margin: 7px 0 0;
  }

  &__price {
    width: 9%;
  }

  &__qty {
    width: 9%;
  }

  &__number-input {
    width: 40px;
    padding: 6px 0 5px 8px;
    border: 1px solid $borderColor;

    &--discount {
      width: 50px;
      margin-right: 3px;
    }
  }

  &__cost {
    width: 9%;
  }

  &__discount {
    width: 9%;
  }

  &__total-cost {
    width: 9%;
  }

  &__remove {
    width: 10%;
  }

  &__remove-btn {
    color: $blue;
    text-decoration: underline;
  }
}

.summary {
  width: 400px;
  text-align: right;

  &__row {
    display: flex;

    &:nth-child(2n) {
      background: $controlBg;
    }
  }

  &__block {
    padding: 5px 10px;
    font-size: 16px;

    &:first-child {
      width: 70%;
      text-align: left;
    }

    &:last-child {
      width: 30%;
    }
  }

  &__place-order {
    margin: 15px 0 0;
  }
}

.preloader {
  top: initial;
  bottom: 15vh;
  position: fixed;
  z-index: 21;
}
