$primary: #eb5202;
$dark: #41362f;
$grey: #666;
$red: #f53f48;
$borderColor: #adadad;

$cubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$media_medium: 600px;
$media_large: 1024px;
$media_max-content-width: 1300px;
$media_x-large: 1440px;
