<div class="show-editor">
  <button class="show-editor__btn" (click)="show()" type="button">Редактировать атрибуты</button>
</div>


<div class="editor-overlay" *ngIf="isVisible" (click)="hide()"></div>
<div class="editor" [class.editor--visible]="isVisible">

  <header class="editor__header">
    <div class="editor__title">Редактировать атрибуты</div>

    <button class="editor__close" (click)="hide()" type="button">
      <i class="ai ai-multiply editor__close-icon"></i>
    </button>
  </header>

  <div class="editor__toolbar">
    <div class="editor__steps">
      <div class="editor__step" [class.editor__step--active]="activeStep === stepsEnum.SelectAttributes">Выбор атрибутов</div>
      <div class="editor__step" [class.editor__step--active]="activeStep === stepsEnum.AttributeValues">Значения атрибутов</div>
      <!--
      <div class="editor__step" [class.editor__step--active]="activeStep === stepsEnum.Images">Картинки и цены</div>
      <div class="editor__step" [class.editor__step--active]="activeStep === stepsEnum.Summary">Итог</div>
      -->
    </div>

    <div class="editor__toolbar-buttons">
      <button class="editor__button-cancel" (click)="hide()" type="button">Отменить</button>

      <button class="editor__button-prev"
              [disabled]="activeStep === stepsEnum.SelectAttributes"
              (click)="prevStep()"
              type="button"
      >
        Назад
      </button>

      <button class="toolbar-main-btn editor__button-next" (click)="nextStep()" type="button">
        <!--<ng-container *ngIf="activeStep !== stepsEnum.Summary; else finishBtn">Вперёд</ng-container>-->
        <ng-container *ngIf="activeStep !== stepsEnum.AttributeValues; else finishBtn">Вперёд</ng-container>
        <ng-template #finishBtn>Завершить</ng-template>
      </button>
    </div>
  </div>

  <div class="editor__heading">
    Шаг {{ activeStep + 1 }}: <ng-container [ngSwitch]="activeStep">
      <ng-container *ngSwitchCase="stepsEnum.SelectAttributes">Выберите атрибуты</ng-container>
      <ng-container *ngSwitchCase="stepsEnum.AttributeValues">Значения атрибутов</ng-container>
      <!--
      <ng-container *ngSwitchCase="stepsEnum.Images">Картинки, Цены и Количество</ng-container>
      <ng-container *ngSwitchCase="stepsEnum.Summary">Итог</ng-container>
      -->
    </ng-container>
  </div>

  <div class="editor__content" [ngSwitch]="activeStep">
    <grid class="page__grid"
          *ngSwitchCase="stepsEnum.SelectAttributes"
          [cells]="gridCells"
          [itemsArray]="attributes"
          [itemsFiltered]="itemsFiltered"
          [pagesTotal]="pagesTotal"
          [isLoading]="isGridLoading"
          (gridChange)="fetchAttributes($event)"
          trackByFieldName="id"
    >
      <span grid-total-items>Всего атрибутов: {{ itemsTotal }}</span>
      <span grid-no-items>Атрибуты не найдены</span>

      <ng-template #cellContent let-attribute="item">
        <div>
          <i class="ai ai-checkmark editor__select-icon" [style.visibility]="isSelected(attribute) ? 'visible' : 'hidden'"></i>
          <app-button class="editor__select-btn"
                      (click)="toggleAttribute(attribute)"
                      btnSize="small"
          >
            <ng-container *ngIf="!isSelected(attribute)">Выбрать</ng-container>
            <ng-container *ngIf="isSelected(attribute)">Убрать</ng-container>
          </app-button>
        </div>
      </ng-template>
      <ng-template #cellContent let-attribute="item">{{ attribute.id }}</ng-template>
      <ng-template #cellContent let-attribute="item">{{ attribute.label }}</ng-template>
    </grid>

    <ng-container *ngSwitchCase="stepsEnum.AttributeValues">
      <div class="attribute" *ngFor="let attribute of selectedAttributes">
        <div class="attribute__header">
          <div class="attribute__label">{{ attribute.label }}</div>
          <div class="attribute__remove" (click)="toggleAttribute(attribute, false)">
            <i class="ai ai-trash attribute__remove-icon"></i>
          </div>
        </div>

        <div class="attribute__values">
          <label class="attribute__value" *ngFor="let value of attribute.values">
            <input class="attribute__value-checkbox"
                   [(ngModel)]="value.isSelected"
                   type="checkbox"
            >
            <span class="attribute__value-label">{{ value.label }}</span>
          </label>
        </div>
      </div>
    </ng-container>

    <!--
    <ng-container *ngSwitchCase="stepsEnum.Images">
      In progress...
    </ng-container>

    <ng-container *ngSwitchCase="stepsEnum.Summary">

      <div class="summary-block" *ngIf="preGeneratedAttrsForProduct.length">
        <div class="summary-block__title">
          <ng-container *ngIf="variantsToLeave.length + variantsToCreate.length > 1; else noVariantsTitle">Общие атрибуты:</ng-container>
          <ng-template #noVariantsTitle>Атрибуты:</ng-template>
        </div>

        <div class="summary-block__body">
          <div class="summary-block__attr field" *ngFor="let attribute of preGeneratedAttrsForProduct">
            <div class="field__label summary-block__attr-label">{{ attributeService.getAttributeLabel(attribute.id) }}</div>
            <div class="field__control summary-block__attr-value">{{ getPreGeneratedAttrLabel(attribute) }}</div>
          </div>
        </div>
      </div>

      <div class="summary-block" *ngIf="variantsToCreate.length">
        <div class="summary-block__title">
          Новые вариации:
        </div>

        <div class="summary-block__body">
          <div class="summary-block__variant" *ngFor="let variant of variantsToCreate, index as i">
             {{ i + 1}}. <span *ngFor="let keyValue of variant | keyvalue, last as last">
              {{ attributeService.getAttributeLabel(keyValue.key) }}: <span class="summary-block__attr-value">{{ attributeService.getValueLabel(keyValue.key, [keyValue.value]) }}</span><ng-container *ngIf="!last">, </ng-container>
            </span>
          </div>
        </div>
      </div>

      <div class="summary-block" *ngIf="variantsToRemove.length">
        <div class="summary-block__title">
          Вариации для удаления:
        </div>

        <div class="summary-block__body">
          <div class="summary-block__variant" *ngFor="let variant of variantsToRemove, index as i">
             {{ i + 1}}. {{ variant.name }} <span *ngFor="let attribute of variant.attributes, last as last">
              ({{ attributeService.getAttributeLabel(attribute.attributeId) }}: <span class="summary-block__attr-value">{{ attributeService.getValueLabel(attribute.attributeId, attribute.valueIds) }}</span><ng-container *ngIf="!last">, </ng-container>)
            </span>
          </div>
        </div>
      </div>

      <div class="summary-block" *ngIf="variantsToLeave.length">
        <div class="summary-block__title">
          Оставить как есть:
        </div>

        <div class="summary-block__body">
          <div class="summary-block__variant" *ngFor="let variant of variantsToLeave, index as i">
             {{ i + 1}}. {{ variant.name }} <span *ngFor="let attribute of variant.attributes, last as last">
              ({{ attributeService.getAttributeLabel(attribute.attributeId) }}: <span class="summary-block__attr-value">{{ attributeService.getValueLabel(attribute.attributeId, attribute.valueIds) }}</span><ng-container *ngIf="!last">, </ng-container>)
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    -->
  </div>

</div>
