<div class="select" (clickOutside)="toggleVisibility(false)">
  <button class="select__active select__active-row"
          [class.select__active--active]="isVisible"
          (click)="toggleVisibility()"
          type="button"
  >
    <span *ngIf="!isVisible" class="select__placeholder">
      Выбрать...
    </span>

    <input
      class="select__input"
      *ngIf="!value.length && isVisible; else selectedTmpl"
      [(ngModel)]="searchValue"
      (ngModelChange)="onSearchInputChange($event)"
      (click)="toggleVisibility(false)"
      placeholder="Введите категорию"
    >

    <ng-template #selectedTmpl>
      <span class="select__chip" *ngFor="let category of value">
        {{ category.name[lang] }}

        <i class="ai ai-multiply select__remove" (click)="unselectOption($event, category)"></i>
      </span>
    </ng-template>
  </button>

  <ul class="select__options" *ngIf="isVisible">
    <ng-container *ngFor="let option of options">
      <ng-container *ngTemplateOutlet="treeItem; context: { option: option }"></ng-container>
    </ng-container>
  </ul>

</div>

<ng-template #treeItem let-option="option">
  <li class="select__option-container" *ngIf="!searchValue || option?.isFiltered && searchValue">
    <button class="select__option" (click)="toggleOption(option)" type="button">
      <span class="select__checkbox">
        <i class="ai ai-checkmark select__checkmark" *ngIf="option.isSelected"></i>
      </span>

      {{ option.name[lang] }}
    </button>

    <ul class="select__suboptions" *ngIf="option.children.length">
      <ng-container *ngFor="let subOption of option.children">
        <ng-container *ngTemplateOutlet="treeItem; context: { option: subOption }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
