<div class="page">
  <div class="header">
    <h1 class="header__title" [ngSwitch]="isNewCustomer">
      <ng-container *ngSwitchCase="true">
        Новый покупатель
      </ng-container>

      <ng-container *ngSwitchCase="false">
        {{ customer?.firstName }} {{ customer?.lastName }}
      </ng-container>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" (click)="goBack()">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="!isNewCustomer" (click)="delete()">
        Удалить
      </button>
      <button class="header__btn toolbar-main-btn" (click)="save()">Сохранить</button>
    </div>
  </div>

  <form class="customer" *ngIf="form" [formGroup]="form">

    <div class="customer__field field field--required"
         *ngIf="form.get('firstName') as firstName"
         [class.field--invalid]="isControlInvalid(firstName)"
    >
      <label for="firstName" class="field__label">Имя</label>
      <span class="field__control">
        <input class="field__input" [formControl]="firstName" type="text" id="firstName">
      </span>
    </div>

    <div class="customer__field field field--required"
         *ngIf="form.get('lastName') as lastName"
         [class.field--invalid]="isControlInvalid(lastName)"
    >
      <label for="lastName" class="field__label">Фамилия</label>
      <span class="field__control">
        <input class="field__input" [formControl]="lastName" type="text" id="lastName">
      </span>
    </div>

    <div class="customer__field field"
         *ngIf="form.get('email') as email"
         [class.field--invalid]="isControlInvalid(email)"
    >
      <label for="email" class="field__label">Email</label>
      <span class="field__control">
        <input class="field__input" [formControl]="email" type="text" id="email">
      </span>
    </div>

    <div class="customer__field field"
         *ngIf="form.get('phoneNumber') as phoneNumber"
         [class.field--invalid]="isControlInvalid(phoneNumber)"
    >
      <label for="phoneNumber" class="field__label">Телефон</label>
      <span class="field__control">
        <input class="field__input" [formControl]="phoneNumber" type="text" id="phoneNumber">
      </span>
    </div>

    <div class="customer__field field"
         *ngIf="form.get('note') as note"
         [class.field--invalid]="isControlInvalid(note)"
    >
      <label for="note" class="field__label">Комментарий о покупателе</label>
      <span class="field__control">
        <input class="field__input" [formControl]="note" type="text" id="note">
      </span>
    </div>

  </form>

</div>
