@import "variables";

.control {
  padding: 5px;
  width: 100%;

  &--highlighted {
    background: rgba($primary, 0.07);
  }

  &__flag {
    width: 13px;
    margin: 0 0 0 4px;
  }

  &__language {

  }

  &__input {
    margin: 5px 0 0;
    flex-grow: 2;
  }
}
